Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

fix: description 속성 접근 에러
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: 스케줄 요약 속성들 명시 및 구분
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: TimelineItem 배열임을 명시
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: userId 존재 여부
  frontend/hooks/useSchedule.ts
Owners: none

feat: add /lib/interceptor.ts
  frontend/lib/interceptor.ts
Owners: none

fix:jwt 검증 실패 메세지 추가, .pb 이미지 CI/CD 수정
  .github/workflows/pb-filter-ci-cd.yaml
  backend/gateway/src/main/java/mapzip/gateway/filter/JwtAuthenticationFilter.java
  backend/gateway/src/main/java/mapzip/gateway/util/JwtUtil.java
  backend/gateway/src/main/java/mapzip/gateway/util/TokenValidationResult.java
  backend/gateway/src/test/java/mapzip/gateway/filter/JwtAuthenticationFilterTest.java
  backend/gateway/src/test/java/mapzip/gateway/util/JwtUtilTest.java
  frontend/app/layout.tsx
Owners: @siiiirru

fix: 정적 Export로 수정
  frontend/next.config.mjs
Owners: none

fix: app 메타데이터 스케줄기반 문구 추가
  frontend/app/layout.tsx
Owners: none

fix: axios 의존성
  frontend/package.json
Owners: none

fix: npm install
  frontend/package-lock.json
Owners: none

fix: react-toastify 의존성
  frontend/package-lock.json
  frontend/package.json
Owners: none

fix: 수정 기능 정적으로 변경
  frontend/app/schedule/edit/[id]/ScheduleEditClientPage.tsx
  frontend/app/schedule/edit/page.tsx
  frontend/components/screens/ScheduleListScreen.tsx
Owners: none

feat: Update auth.yml
  config-repo/auth.yml
Owners: none

fix: Dockerfile 빌드 제거
  backend/schedule/Dockerfile
Owners: @kaiju782

fix: 프론트엔드 axios 인터셉트 쿠키로 수정
  frontend/lib/interceptor.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/types/index.ts
Owners: none

ci: PR시에는 실행되지 않도록 수정
  .github/workflows/frontend-ci-cd.yaml
Owners: none

fix: 만료된 토큰 처리 수정
  backend/gateway/src/main/java/mapzip/gateway/util/JwtUtil.java
  backend/gateway/src/test/java/mapzip/gateway/util/JwtUtilTest.java
Owners: @siiiirru

refactor: 게이트웨이에서 필요없는 expiration설정 제거
  config-repo/gateway.yml
Owners: none

fix : gRPC 구현
  backend/recommend/src/main/java/com/mapzip/recommend/controller/RecommendController.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/RecommendResultDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/entity/RecommendationSelectionEntity.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/RecommendRequestMapper.java
  backend/recommend/src/main/java/com/mapzip/recommend/repository/RecommendationSelectionRepository.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/KakaoApiGrpcService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendService.java
  backend/recommend/src/main/proto/recommend.proto
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

fix : application 오류 수정
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

test:인터셉트 테스트 함수 추가
  frontend/components/screens/ScheduleListScreen.tsx
Owners: none

feat : 초기 pb 업로드
  backend/recommend/recommend_proto.pb
Owners: @michelle259

fix: Prevent duplicate service restarts in config CI/CD
  .github/workflows/config-ci-cd.yaml
Owners: none

fix: cors 설정 제거
  backend/schedule/src/main/java/com/mapzip/schedule/config/WebConfig.java
  package-lock.json
Owners: @kaiju782

fix: cors설정 수정
  config-repo/gateway.yml
Owners: none

test: 배포용 변화주기
  frontend/types/index.ts
Owners: none

Test: config-repo files modification for GitHub Actions testing
  config-repo/auth.yml
  config-repo/gateway.yml
  config-repo/recommend.yml
  config-repo/review.yml
Owners: none

Fix: backend-ci-cd matrix strategy error when no backend changes
  .github/workflows/backend-ci-cd.yaml
Owners: none

Test: backend-ci-cd matrix strategy fix validation
  config-repo/application.yml
  config-repo/auth.yml
Owners: none

Test: Complete integration test - backend + config-repo changes
  backend/auth/src/main/java/com/mapzip/auth/auth_service/AuthServiceApplication.java
  backend/config/src/main/resources/application.yml
  backend/gateway/src/main/java/mapzip/gateway/GatewayApplication.java
  backend/recommend/.gitkeep
  backend/review/src/main/java/com/mapzip/review/ReviewServiceApplication.java
  backend/schedule/src/main/java/com/mapzip/schedule/ScheduleApplication.java
Owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

Revert: backend-ci-cd.yaml to original team member's version
  .github/workflows/backend-ci-cd.yaml
Owners: none

Test: Backend services spacing modification
  backend/auth/src/main/java/com/mapzip/auth/auth_service/AuthServiceApplication.java
  backend/config/src/main/resources/application.yml
  backend/gateway/src/main/java/mapzip/gateway/GatewayApplication.java
Owners: @1dyn, @KingZuto, @siiiirru

fix:토스트 타임아웃 설정 추가
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/lib/interceptor.ts
Owners: none

Update TimeUtil.java
  backend/schedule/src/main/java/com/mapzip/schedule/util/TimeUtil.java
Owners: @kaiju782

fix:인터셉터 리디렉션 정적경로로 수정
  .github/workflows/backend-ci-cd.yaml
  frontend/lib/interceptor.ts
Owners: none

fix: 토스트ui 뜨도록 수정
  frontend/app/page.tsx
Owners: none

fix: 토스트 주석처리
  frontend/app/page.tsx
Owners: none

feat: TMap api 사용 관련 추천서버에 코드 이전 및 가이드 첨부
  backend/recommend/TMAP_GUIDE.md
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/client/TmapClient.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/Feature.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/Geometry.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/MealSlotData.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/Properties.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/TmapLocation.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/TmapRouteRequest.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/TmapRouteResponse.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/TmapRoutesInfo.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/TmapWaypoint.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/WaypointsContainer.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RouteService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/TmapCalculationProcessor.java
  backend/recommend/src/main/java/com/mapzip/recommend/util/TimeUtil.java
  backend/recommend/src/main/proto/schedule.proto
Owners: @michelle259

fix:토스트UI 다시 추가
  frontend/app/page.tsx
  frontend/lib/interceptor.ts
Owners: none

fix: 인터셉터에서 토스트띄우기
  frontend/app/page.tsx
  frontend/lib/interceptor.ts
Owners: none

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead
