Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

fix: ClassCastException 오류 해결
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
Owners: @csm123455

fix : 백엔드 시간 형식 통일
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: @michelle259

fix: k6오류해결
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
Owners: @csm123455

fix : 이전에 했던 선택도 추천 로직 다시 돌도록 변경
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/CleanupDbService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
Owners: @michelle259

fix: 카프카 설정 2차 pr
  config-repo/recommend.yml
Owners: none

fix: WebClient TMAP API 응답 버퍼 크기를 5MB로 늘림
  config-repo/recommend.yml
Owners: none

fix: 버퍼 크기 포멧 변경
  config-repo/recommend.yml
Owners: none

fix: WebClient 버퍼 크기 설정 앱 코드에 직접 설정
  backend/recommend/src/main/java/com/mapzip/recommend/client/TmapClient.java
  config-repo/recommend.yml
Owners: @michelle259

fix:google api key 시크릿 볼륨 마운트 방식으로 수정
  config-repo/review.yml
Owners: none

fix: 재pr
  config-repo/recommend.yml
Owners: none

fix: 스케줄 홈 화면 스크롤 조정
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: 스크롤 조정 2차
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: 스크롤 조정 3차
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: 스케줄 요약 스크롤 조정 4차
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: 리뷰완료데이터 수정
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix:방문일자 패턴 수정
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
Owners: @csm123455

fix: ocr검증 수정
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  frontend/components/modals/ReviewWriteModal.tsx
Owners: @csm123455

fix:ocr 캐시 비활성화
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix: ocr 방문날짜,신뢰도,작성리뷰목록수정
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix: review 서버 수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

ocr 검증 수정
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix: 검증결과 ,방문날찌 필드 입력 수정
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  frontend/components/modals/ReviewWriteModal.tsx
Owners: @csm123455

fix: review타입,ocrresult 타입수정
  frontend/types/index.ts
Owners: none

fix: 리뷰시스템 종합개선
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix: 리뷰서버 프론트 수정
  frontend/services/api.ts
Owners: none

fix:DynamoDB GSI 및 api매핑 수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix: 리뷰시스템 UI개선 , 리뷰목록수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix: 프론트수정
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

fix:리뷰 시스템 안정성 강화 및 삭제 기능 개선
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix:삭제, 목록기능수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix : 카페 추천하도록 변경, 오전/오후 혼동 수정
  backend/recommend/src/main/java/com/mapzip/recommend/client/KakaoClient.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/KakaoApiService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/UpdateScheduleRequestBuilder.java
Owners: @michelle259

fix:리뷰 삭제,목록 로드 기능수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix : 선택된 스케줄 표시, 시간 지난 식당들 표시 안되도록
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix:리뷰 기능 관련 버그수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix:리뷰기능수정중
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/services/api.ts
Owners: @csm123455

fix:리뷰 시스템 미작성 리뷰 삭제 및 작성 리뷰 목록 조회 오류 해결
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix : gRPC로 받은 시간 가공하도록 수정
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
  frontend/components/modals/ScheduleProcessingPopup.tsx
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
Owners: @michelle259

fix:작성 리뷰 삭제 및 작성 리뷰 조회 오류 해결
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
  frontend/services/api.ts
Owners: @csm123455

fix : 추천 업데이트 팝업 변경
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
  frontend/components/modals/ScheduleProcessingPopup.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: @michelle259

fix:리뷰서버 삭제,목록기능수정
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
Owners: @csm123455

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead
