Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

fix: grpc -> grpcServer로 변경
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/proto/schedule.proto
  config-repo/schedule.yml
Owners: @kaiju782

fix: config cicd 다시
  config-repo/schedule.yml
Owners: none

fix: grpcServerHealthIndicator Bean 생성 명시적으로 활성화
  config-repo/schedule.yml
Owners: none

🔧 Fix Schedule service gRPC health check issue
  backend/schedule/src/main/java/com/mapzip/schedule/config/GrpcHealthConfig.java
  config-repo/schedule.yml
Owners: @kaiju782

🔧 Fix GrpcHealthConfig compilation error
  backend/schedule/src/main/java/com/mapzip/schedule/config/GrpcHealthConfig.java
Owners: @kaiju782

fix: proto 파일수정,백엔드java코드수정,프론트api추가
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/proto/review.proto
  frontend/services/api.ts
Owners: @csm123455

fix: gRPC 수동으로 헬스체크
  backend/schedule/src/main/java/com/mapzip/schedule/config/GrpcHealthConfig.java
  backend/schedule/src/main/resources/application.yml
Owners: @kaiju782

fix : pb 파일 재빌드
  backend/recommend/recommend_proto.pb
Owners: @michelle259

fix: pb 재빌드
  backend/review/src/main/proto/review.proto
Owners: @csm123455

fix: config cicd 2차
  config-repo/schedule.yml
Owners: none

trigger
  config-repo/schedule.yml
Owners: none

trigger actions
  config-repo/schedule.yml
Owners: none

fix: redis 엔드포인트 수정, proto 카멜케이스로 통일
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/proto/schedule.proto
  config-repo/schedule.yml
Owners: @kaiju782

fix: 리뷰서버백엔드 수정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/review/pom.xml
  backend/review/review_proto.pb
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  backend/review/src/main/proto/review.proto
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
  frontend/services/api.ts
Owners: @siiiirru, @csm123455

fix: config action 다시
  config-repo/schedule.yml
Owners: none

test: cicd 테스트용 변경
  frontend/styles/globals.css
Owners: none

feat : Create Dockerfile
  backend/recommend/Dockerfile
Owners: @michelle259

feat : 프론트랑 연동 설정
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/config/CorsConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/mock/MockTmapScheduleRequestBuilder.java
  backend/recommend/src/main/resources/application.properties
  backend/recommend/src/main/resources/application.yml
Owners: @michelle259

fix : 인프라 설정
  backend/recommend/src/main/resources/application.yml
Owners: @michelle259

test: cicd 테스트용 변경
  frontend/styles/globals.css
Owners: none

fix: ocr추출, 프론트엔드수정
  backend/review/review_proto.pb
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  docker-compose.yml
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/services/api.ts
  frontend/types/index.ts
Owners: @csm123455

fix:XSS필터 JSON 파싱 수정
  backend/gateway/src/main/java/mapzip/gateway/filter/XssProtectionFilter.java
  backend/gateway/src/test/java/mapzip/gateway/filter/XssProtectionFilterTest.java
Owners: @siiiirru

feat: 팝업창(스케줄요약) 및 타입 정리 1차
  frontend/components/modals/RecommendationReadyPopup.tsx
  frontend/components/modals/ScheduleProcessingPopup.tsx
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
  frontend/hooks/useSchedule.ts
  frontend/lib/timeline.ts
  frontend/services/api.ts
  frontend/types/index.ts
Owners: none

test:디버깅용 로그 출력
  backend/gateway/src/main/java/mapzip/gateway/filter/XssProtectionFilter.java
Owners: @siiiirru

fix : pb파일 재빌드
  backend/review/pom.xml
Owners: @csm123455

fix: google apis 의존성수정
  backend/review/pom.xml
Owners: @csm123455

Update Google Vision API key encryption for current Config Server
  config-repo/review.yml
Owners: none

feat: 스케줄 생성 요청 내용 로그 추가
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  frontend/hooks/useSchedule.ts
  frontend/lib/interceptor.ts
  history3.md
Owners: @kaiju782

fix: 타입에러
  frontend/services/api.ts
Owners: none

Delete history3.md
  history3.md
Owners: none

fix: 팝업 완료 후 추천페이지 이동
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 바이트 버퍼 할당하여 XSS 필터링 수행하도록 변경
  backend/gateway/src/main/java/mapzip/gateway/filter/XssProtectionFilter.java
Owners: @siiiirru

fix : Update recommend.yml
  config-repo/recommend.yml
Owners: none

feat: 경유지 개수 제한
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
Owners: none

fix : 외부 api key 암호화
  config-repo/recommend.yml
Owners: none

test: 프론트엔드 배포를 위한 변경
  frontend/styles/globals.css
Owners: none

fix : aws/bedrock 설정 추가
  config-repo/recommend.yml
Owners: none

fix : redis pool 수정
  config-repo/recommend.yml
Owners: none

fix : aws 인증 변경
  backend/recommend/src/main/java/com/mapzip/recommend/config/BedrockConfig.java
Owners: @michelle259

feat: 출발시간 변경 시 식사시간 동기화
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
Owners: none
