Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

Add Config Server implementation and configuration files
  backend/config/.gitkeep
  backend/config/config-server/.gitattributes
  backend/config/config-server/.gitignore
  backend/config/config-server/build.gradle
  backend/config/config-server/gradle/wrapper/gradle-wrapper.jar
  backend/config/config-server/gradle/wrapper/gradle-wrapper.properties
  backend/config/config-server/gradlew
  backend/config/config-server/gradlew.bat
  backend/config/config-server/settings.gradle
  backend/config/config-server/src/main/java/com/mapzip/config/ConfigServerApplication.java
  backend/config/config-server/src/main/resources/application.yml
  backend/config/config-server/src/test/java/com/mapzip/config/ConfigServerApplicationTests.java
  config-repo/application.yml
  config-repo/auth/auth.yml
  config-repo/gateway/gateway.yml
  config-repo/recommend/recommend.yml
  config-repo/review/review.yml
  config-repo/schedule/schedule.yml
Owners: @KingZuto

Move config-repo to backend directory
  backend/config-repo/application.yml
  backend/config-repo/auth/auth.yml
  backend/config-repo/gateway/gateway.yml
  backend/config-repo/recommend/recommend.yml
  backend/config-repo/review/review.yml
  backend/config-repo/schedule/schedule.yml
  backend/config/config-server/src/main/resources/application.yml
Owners: @KingZuto

added application.yml
  backend/config/config-server/src/main/resources/application.yml
Owners: @KingZuto

feat: 스케줄 생성, 목록 조회 요청 확인
  backend/schedule/.gitattributes
  backend/schedule/.gitignore
  backend/schedule/.mvn/wrapper/maven-wrapper.properties
  backend/schedule/mvnw
  backend/schedule/mvnw.cmd
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/ScheduleApplication.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/MealTimeSlot.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/Schedule.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/SelectedRestaurant.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/MealTimeSlotRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/ScheduleRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
  backend/schedule/src/test/java/com/mapzip/schedule/ScheduleApplicationTests.java
  create_schedule_example.json
Owners: @kaiju782

feat: Config Server CI/CD 파이프라인 기본 설정 추가
  .github/workflows/config-server-cicd.yml
  backend/config/config-server/Dockerfile
  backend/config/config-server/README.md
Owners: @KingZuto

feat: 스케줄 리스트, 디테일 조회
  backend/schedule/src/main/java/com/mapzip/schedule/entity/MealTimeSlot.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/Schedule.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/SelectedRestaurant.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/MealTimeSlotRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/SelectedRestaurantRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  create_schedule_example.json
  get_schedule_detail.json
  get_schedule_list.json
  select_restaurant_example.json
Owners: @kaiju782

fix: gRPC 클래스 오류 정리
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/repository/MealTimeSlotRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/ScheduleRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/SelectedRestaurantRepository.java
Owners: @kaiju782

feat: 식당 선택
  backend/schedule/src/main/java/com/mapzip/schedule/entity/MealTimeSlot.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

fix: ide 상 에러 수정
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/repository/MealTimeSlotRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/ScheduleRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/SelectedRestaurantRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

settings
  backend/.github/workflows/config-server-cicd.yml
  backend/config-repo/auth/auth.yml
  backend/config-repo/gateway/gateway.yml
  backend/config-repo/recommend/recommend.yml
  backend/config-repo/review/review.yml
  backend/config-repo/schedule/schedule.yml
  backend/config/config-server/build.gradle
  backend/config/config-server/k8s/configmap.yaml
  backend/config/config-server/k8s/deployment.yaml
  backend/config/config-server/k8s/service.yaml
  backend/config/config-server/scripts/build.sh
  backend/config/config-server/scripts/push-to-ecr.sh
  backend/config/config-server/src/main/resources/application.yml
  backend/docker-compose.yml
Owners: @KingZuto

feat: tmap 요청 보내기 작업 중
  backend/schedule/src/main/java/com/mapzip/schedule/ScheduleApplication.java
  backend/schedule/src/main/java/com/mapzip/schedule/client/TmapClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Feature.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Geometry.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Properties.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapLocation.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapRouteRequest.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapRouteResponse.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapRoutesInfo.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapWaypoint.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/WaypointsContainer.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/util/TimeUtil.java
Owners: @kaiju782

fix: IDE 상 오류
  backend/schedule/src/main/java/com/mapzip/schedule/client/TmapClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapRoutesInfo.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

fix: api 쿼리
  backend/schedule/src/main/java/com/mapzip/schedule/client/TmapClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapLocation.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
Owners: @kaiju782

fix: 요청 시간 타입 수정
  backend/schedule/src/main/java/com/mapzip/schedule/client/TmapClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapLocation.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapRoutesInfo.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/WaypointsContainer.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
  backend/schedule/src/main/java/com/mapzip/schedule/util/TimeUtil.java
Owners: @kaiju782

feat: TMap 요청 성공
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Properties.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/util/TimeUtil.java
Owners: @kaiju782

fix: 좌표 null 반환 오류
  backend/schedule/src/main/java/com/mapzip/schedule/client/TmapClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

fix: 수동 변환 시도
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/client/TmapClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Feature.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Geometry.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Properties.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/util/TimeUtil.java
Owners: @kaiju782

feat: api요청 문제가 해결되어 검색 로직으로 변경
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Properties.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
Owners: @kaiju782

Create README.md
  README.md
Owners: none

fix: MSA config 설정 문제 해결
  backend/config-repo/application.yml
  backend/config-repo/auth/auth.yml
  backend/config-repo/gateway/gateway.yml
  backend/config-repo/recommend/recommend.yml
  backend/config-repo/review/review.yml
  backend/config-repo/schedule/schedule.yml
  backend/config/config-server/Dockerfile
  backend/config/config-server/k8s/configmap.yaml
  backend/config/config-server/src/main/resources/application.yml
Owners: @KingZuto

feat: JWT filter, XSS filter add
  backend/gateway/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/gateway/gateway/src/test/java/mapzip/gateway/util/JwtUtilTest.java
Owners: @siiiirru

fix: 디렉토리 중복 gateway경로 수정
  backend/gateway/.gitattributes
  backend/gateway/.gitignore
  backend/gateway/.gitkeep
  backend/gateway/.mvn/wrapper/maven-wrapper.properties
  backend/gateway/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/gateway/gateway/src/test/java/mapzip/gateway/util/JwtUtilTest.java
  backend/gateway/mvnw
  backend/gateway/mvnw.cmd
  backend/gateway/pom.xml
  backend/gateway/src/main/java/mapzip/gateway/GatewayApplication.java
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/gateway/src/main/java/mapzip/gateway/filter/JwtAuthenticationFilter.java
  backend/gateway/src/main/java/mapzip/gateway/filter/XssProtectionFilter.java
  backend/gateway/src/main/java/mapzip/gateway/util/JwtUtil.java
  backend/gateway/src/main/resources/application.yaml
  backend/gateway/src/test/java/mapzip/gateway/GatewayApplicationTests.java
  backend/gateway/src/test/java/mapzip/gateway/filter/JwtAuthenticationFilterTest.java
  backend/gateway/src/test/java/mapzip/gateway/filter/XssProtectionFilterTest.java
  backend/gateway/src/test/java/mapzip/gateway/util/JwtUtilTest.java
Owners: @siiiirru

fix: config server 도메인으로 주석 수정
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

ci:프론트, 백 ci/cd 코드 작성
  .github/workflows/backend-ci-cd.yaml
  .github/workflows/frontend-ci-cd.yaml
  backend/gateway/.dockerignore
  backend/gateway/Dockerfile
  backend/gateway/pom.xml
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/gateway/src/main/resources/application.yaml
  backend/gateway/src/test/java/mapzip/gateway/config/GatewayMockTest.java
Owners: @siiiirru

feat: gateway 서버 health check 설정 추가
  backend/gateway/pom.xml
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

ci: 프론트엔드 경로의 파일이 바뀐 경우에만 ci/cd 실행
  .github/workflows/backend-ci-cd.yaml
  .github/workflows/frontend-ci-cd.yaml
Owners: none

feat: kakao map api 연결
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/ScheduleApplication.java
  backend/schedule/src/main/java/com/mapzip/schedule/client/KakaoClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/config/AppConfig.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/kakao/Document.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/kakao/KakaoSearchResponse.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/kakao/Meta.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/kakao/SameName.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

fix: kakao api로 받은 정보를 json파일 저장(임시)
  backend/schedule/kakao_response_947af8eb-fac5-4071-b5f6-10ae9a523d22_7ec40349-2729-4acc-8dab-f19fd4de7bb4.json
  backend/schedule/kakao_response_947af8eb-fac5-4071-b5f6-10ae9a523d22_c32c2c59-474a-4480-aa94-39ee9e355b9f.json
  backend/schedule/kakao_response_947af8eb-fac5-4071-b5f6-10ae9a523d22_cc8160db-f378-40a9-a2d8-31142c05356c.json
  backend/schedule/src/main/java/com/mapzip/schedule/config/AppConfig.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

feat: webclient로 수정
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/client/KakaoClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/client/TmapClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/config/AppConfig.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

add encrypt key
  backend/.github/workflows/config-server-cicd.yml
  backend/config/config-server/src/main/resources/application.yml
  backend/docker-compose.yml
Owners: @KingZuto

feat: HTTP 매핑 적용
  backend/schedule/kakao_response_947af8eb-fac5-4071-b5f6-10ae9a523d22_7ec40349-2729-4acc-8dab-f19fd4de7bb4.json
  backend/schedule/kakao_response_947af8eb-fac5-4071-b5f6-10ae9a523d22_c32c2c59-474a-4480-aa94-39ee9e355b9f.json
  backend/schedule/kakao_response_947af8eb-fac5-4071-b5f6-10ae9a523d22_cc8160db-f378-40a9-a2d8-31142c05356c.json
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/client/TmapClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/config/AppConfig.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
  create_schedule_example.json
  get_schedule_detail.json
  get_schedule_list.json
  select_restaurant_example.json
Owners: @kaiju782

Update .gitignore
  .gitignore
Owners: none

fix: descriptor.pb파일 생성
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Feature.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Geometry.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/Properties.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapRouteResponse.java
Owners: @kaiju782

feat: Config Server 암호화 기능 추가
  backend/config/config-server/src/main/resources/application.yml
Owners: @KingZuto

feat: 리뷰서버 first commit
  .claude/settings.local.json
  backend/review/.gitkeep
  backend/review/Dockerfile
  backend/review/docker-compose.yml
  backend/review/pom.xml
  backend/review/scripts/setup-local-db.sh
  backend/review/src/main/java/com/mapzip/review/ReviewServiceApplication.java
  backend/review/src/main/java/com/mapzip/review/config/DynamoDbConfig.java
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/dto/OcrResultDto.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  backend/review/src/main/java/com/mapzip/review/service/S3Service.java
  backend/review/src/main/proto/review.proto
  backend/review/src/main/resources/application.yml
  backend/review/src/main/resources/bootstrap.yml
  config-repo/review-dev.yml
  config-repo/review-prod.yml
  config-repo/review.yml
Owners: @csm123455

fix: proto 수정
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

fix: proto-dependencies폴더에 proto 파일들 고정 복사
  backend/schedule/pom.xml
Owners: @kaiju782

feat : 추천 기능 초안
  backend/config/config-server/Dockerfile
Owners: @KingZuto
