Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

fix : readme 삭제
  frontend/README.md
Owners: none

fix : 의존성 오류 해결
  .github/workflows/frontend-ci-cd.yaml
Owners: none

fix : 빌드 오류 해결
  .github/workflows/frontend-ci-cd.yaml
Owners: none

fix : 빌드 오류 수정
  .github/workflows/frontend-ci-cd.yaml
Owners: none

fix : readme 삭제
  frontend/README.md
  frontend/package-lock.json
Owners: none

fix : 빌드 확인
  frontend/components.json
Owners: none

fix : 일부화면 정적인 환경에서 작동하도록 수정
  frontend/README.md
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/components.json
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
  frontend/package-lock.json
Owners: none

fix : readme 삭제
  frontend/README.md
Owners: none

feat: 설정 config-repo에 이동
  backend/schedule/pom.xml
  backend/schedule/src/main/resources/application.properties
  backend/schedule/src/main/resources/application.yml
  backend/schedule/src/main/resources/bootstrap.properties
  backend/schedule/src/main/resources/bootstrap.yml
  config-repo/schedule.yml
Owners: @kaiju782

fix: git secrets 제거
  config-repo/schedule.yml
Owners: none

feat: Schedule 서비스 Config Server 연결 설정 개선
  backend/schedule/mvnw
  backend/schedule/src/main/resources/application.yml
  backend/schedule/src/main/resources/bootstrap.yml
  config-repo/schedule.yml
Owners: @kaiju782

fix: 암호화된 db password 기입
  config-repo/schedule.yml
Owners: none

feat :ai 추천 기능 구현
  backend/recommend/pom.xml
  backend/recommend/src/main/java/RecommendationResponseConsumer/RecommendationResponseConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/controller/BedrockTestController.java
  backend/recommend/src/main/java/com/mapzip/recommend/entity/RecommendResultEntity.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendResultConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/repository/RecommendResultRepository.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendResultStoreService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendService.java
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

feat: 인증 서버 기본 설정 및 사용자 인증 로직 구현
  .idea/.gitignore
  .idea/finalproject-app.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/auth/.gitkeep
  backend/auth/.idea/.gitignore
  backend/auth/.idea/auth.iml
  backend/auth/.idea/compiler.xml
  backend/auth/.idea/encodings.xml
  backend/auth/.idea/jarRepositories.xml
  backend/auth/.idea/misc.xml
  backend/auth/.idea/vcs.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/util/Jwks.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/entity/User.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/repository/UserRepository.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/CustomUserDetailsService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/UserPrincipal.java
  backend/auth/src/main/resources/application.properties
  backend/auth/src/test/java/com/mapzip/auth/auth_service/AuthServiceApplicationTests.java
Owners: @1dyn

chore: application.properties 제거
  .gitignore
  backend/auth/src/main/resources/application.properties
Owners: @1dyn

chore: .idea 폴더 삭제
  backend/auth/.idea/.gitignore
  backend/auth/.idea/auth.iml
  backend/auth/.idea/compiler.xml
  backend/auth/.idea/encodings.xml
  backend/auth/.idea/jarRepositories.xml
  backend/auth/.idea/misc.xml
  backend/auth/.idea/vcs.xml
Owners: @1dyn

chore: .idea 추적 제거
  .idea/.gitignore
  .idea/finalproject-app.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Owners: none

feat: 인증서버 기본 기능 구현(카카오 OAuth2, JWT, 사용자 등록)
  backend/auth/pom.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/RedisConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/KakaoLoginRequestDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/NicknameRequestDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/RefreshTokenRequestDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/TokenResponseDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/entity/AppUser.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/principal/UserPrincipal.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/repository/UserRepository.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/CustomUserDetailsService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/RefreshTokenService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/UserService.java
  backend/auth/src/main/resources/application.yml
Owners: @1dyn

fix: auth.yml 파일 변경
  config-repo/auth.yml
Owners: none

test: 테스트용 데모 서비스 라우팅
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/gateway/src/main/java/mapzip/gateway/filter/JwtAuthenticationFilter.java
Owners: @siiiirru

Add review service Config Server integration (Auth pattern)
  backend/review/Dockerfile
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/ReviewServiceApplication.java
  backend/review/src/main/resources/application.yml
  config-repo/review.yml
Owners: @csm123455

feat: encrypt Google Vision API key in review service config
  config-repo/review.yml
Owners: none

fix: merge duplicate spring sections in review.yml
  config-repo/review.yml
Owners: none

fix: demo app 라우팅 프리픽스 수정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
Owners: @siiiirru

fix: Auth 서비스 PostgreSQL 설정 및 Spring Boot 3.5.3 업데이트
  backend/auth/pom.xml
  config-repo/auth.yml
Owners: @1dyn

fix: OAuth2 클라이언트 authentication methods 추가
  config-repo/auth.yml
Owners: none

chore: Auth 서비스 Docker 이미지 재빌드 트리거
  backend/auth/src/main/java/com/mapzip/auth/auth_service/AuthServiceApplication.java
Owners: @1dyn

fix: Spring Security OAuth2 Authorization Server 버전 호환성 수정
  backend/auth/pom.xml
Owners: @1dyn

fix: Spring Cloud 호환성 체크 비활성화
  config-repo/auth.yml
Owners: none

chore: Auth 서비스 Docker 이미지 재빌드 트리거
  backend/auth/src/main/java/com/mapzip/auth/auth_service/AuthServiceApplication.java
Owners: @1dyn

feat: Auth 서비스 Spring Cloud 2025.0.0으로 통일
  backend/auth/pom.xml
  config-repo/auth.yml
Owners: @1dyn

feat: Schedule 서비스 Spring Cloud 2025.0.0으로 업데이트
  backend/schedule/pom.xml
Owners: @kaiju782

feat: Review 서비스 GitHub Actions 빌드 트리거
  backend/review/src/main/java/com/mapzip/review/ReviewServiceApplication.java
Owners: @csm123455

feat: googleapis 깃이그노어 추가
  .gitignore
Owners: none

fix: gateway 라우팅포트수정, api인증방식수정, s3 보안수정, 프론트엔드 연동
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  backend/review/src/main/java/com/mapzip/review/service/S3Service.java
  config-repo/review.yml
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/types/index.ts
Owners: @siiiirru, @csm123455

feat : reivew 서버 elrasticache 연동
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/config/RedisConfig.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  config-repo/review.yml
Owners: @csm123455

fix: 도메인api 중복삭제, 라우팅 수정
  backend/review/src/main/proto/review.proto
Owners: @csm123455

ci:pb이미지 자동 배포 ci/cd코드 작성
  .github/workflows/backend-ci-cd.yaml
  .github/workflows/pb-filter-ci-cd.yaml
Owners: none

fix: gateway라우팅 분기 설정, 프론트엔드 리뷰서버연동관련수정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  frontend/services/api.ts
Owners: @siiiirru

feat: review 서버 pb생성, proto 파일 http 매핑추가
  backend/review/protoc/include/google/protobuf/any.proto
  backend/review/protoc/include/google/protobuf/api.proto
  backend/review/protoc/include/google/protobuf/compiler/plugin.proto
  backend/review/protoc/include/google/protobuf/descriptor.proto
  backend/review/protoc/include/google/protobuf/duration.proto
  backend/review/protoc/include/google/protobuf/empty.proto
  backend/review/protoc/include/google/protobuf/field_mask.proto
  backend/review/protoc/include/google/protobuf/source_context.proto
  backend/review/protoc/include/google/protobuf/struct.proto
  backend/review/protoc/include/google/protobuf/timestamp.proto
  backend/review/protoc/include/google/protobuf/type.proto
  backend/review/protoc/include/google/protobuf/wrappers.proto
  backend/review/protoc/readme.txt
  backend/review/review_proto.pb
  backend/review/scripts/generate-proto-descriptor.sh
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/proto/review.proto
Owners: @csm123455
