Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

fix : 추천서버 gRPC 포트 변경
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
Owners: @siiiirru

Fix Review service DynamoDB annotation error
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
Owners: @csm123455

fix : cors 에러
  frontend/components/screens/ScheduleListScreen.tsx
Owners: none

fix: 쿠키 도메인 수정
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
Owners: @1dyn

fix: 로컬스토리지 선택상태 로직 수정
  frontend/hooks/useSchedule.ts
Owners: none

fix : pb 파일 업데이트 & 프론트 수정
  backend/recommend/recommend_proto.pb
  backend/recommend/src/main/java/com/mapzip/recommend/config/CorsConfig.java
  backend/recommend/src/main/proto/recommend.proto
  backend/recommend/src/main/resources/application.properties
  backend/recommend/src/main/resources/application.yml
  frontend/components/screens/ScheduleListScreen.tsx
Owners: @michelle259

feat: 디버깅 코드 추가
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  config-repo/auth.yml
Owners: @1dyn

fix: DynamoDB 중복소트키 수정
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
Owners: @csm123455

fix: 인터셉터 인증실패반환시 로그인여부 세션스토리지 삭제
  .vscode/settings.json
  frontend/app/page.tsx
  frontend/lib/interceptor.ts
Owners: none

fix: 세션 만료시 로그인 여부데이터 삭제
  frontend/lib/interceptor.ts
Owners: none

fix: 쿠키 도메인 수정
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
Owners: @1dyn

fix:jwt인코딩 서명 HSA256 알고리즘으로 수정
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
Owners: @1dyn

Fix S3Service maxFileSize configuration error
  config-repo/review.yml
Owners: none

fix: 스케줄 선택 상태 로직 수정 2차
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

chore:jwt 인코딩 디버깅용 로그추가
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
Owners: @1dyn

fix: 스케줄 선택 상태 로직 3차
  frontend/app/page.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 키생성 알고리즘 수정
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
Owners: @1dyn

fix:jwt토큰 발급 방식 jjwt 라이브러리 사용
  backend/auth/pom.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
Owners: @1dyn

fix: Redis 연결 오류 수정 - commons-pool2 의존성 추가
  backend/review/pom.xml
Owners: @csm123455

fix: 스케줄 상태 로직 4차
  frontend/app/page.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 스케줄 선택 상태 로직 디버깅
  frontend/hooks/useSchedule.ts
Owners: none

chore: debug 코드 제거
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
  config-repo/auth.yml
Owners: @1dyn

fix: 스케줄 선택 상태 로직 5차
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/proto/schedule.proto
  frontend/services/api.ts
Owners: @kaiju782

fix: 스케줄 선택 상태 로직 6차
  frontend/app/page.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 스케줄 선택 상태 로직 수정 7차
  frontend/hooks/useSchedule.ts
Owners: none

fix: 스케줄 선택 상태 로직 수정 8차
  frontend/app/page.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 리뷰 서버 인증, 캐시, OCR API 문제 수정
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/grpc/GrpcHeaderInterceptor.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix:단일리뷰캐시 수정
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
Owners: @csm123455

fix: 스케줄 선택 상태 로직 수정 9차
  frontend/hooks/useSchedule.ts
Owners: none

fix: 스케줄 선택 상태 로직 수정 10차
  frontend/hooks/useSchedule.ts
Owners: none

fix: 스케줄 선택 상태 로직 수정 11차
  frontend/app/page.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

Fix Kafka TLS configuration for Recommend service
  config-repo/recommend.yml
Owners: none

fix: 스케줄 선택 상태 로직 수정 12차
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: 무한로딩
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

Revert "Fix Kafka TLS configuration for Recommend service"
  config-repo/recommend.yml
Owners: none

fix: 스케줄 선택 상태 로직 수정 13차
  frontend/app/page.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
Owners: none

fix: 복수의 쿼리파라미터 파싱에 문제없게 필터링
  backend/gateway/src/main/java/mapzip/gateway/filter/XssProtectionFilter.java
Owners: @siiiirru

Fix Kafka TLS configuration and optimize consumer settings
  config-repo/recommend.yml
Owners: none

fix: 스케줄 선택 상태 로직 수정 14차
  frontend/app/page.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 선택상태 수정 15차
  frontend/app/page.tsx
  frontend/hooks/useSchedule.ts
Owners: none
