Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

fix : 추천 업데이트 중복 버튼 제거
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : 중복 정렬키 삭제
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
Owners: @csm123455

fix: gsi 수정 , 목록 리뷰 조회, 로그메서드삭제
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix: 식사타입 처리
  frontend/components/screens/ScheduleCreateScreen.tsx
Owners: none

fix: 식사 타입 처리 2차
  frontend/components/screens/ScheduleCreateScreen.tsx
Owners: none

fix: ClassCastException 해결
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
Owners: @csm123455

fix:타입 캐스팅 문제해결
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
Owners: @csm123455

fix : meal slot log 추가
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
  frontend/components/screens/RecommendationScreen.tsx
Owners: @michelle259

fix : 페이지 복원
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix:DynamoDB와 Redis 캐시 계층의 ClassCastException 해결
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
  backend/review/src/main/java/com/mapzip/review/config/DynamoDbConfig.java
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix: Jackson api 버전 수정
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
Owners: @csm123455

fix : mealType 오류 수정
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapResultMapper.java
Owners: @michelle259

fix:리뷰 조회/삭제 오류 및 캐시 타입 변환 문제 해결
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix : mealType 오류 수정
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
Owners: @michelle259

fix: 리뷰 수정 삭제 로직수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix : mealType 오류 수정
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapResultMapper.java
Owners: @michelle259

fix : mealType 오류 수정
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
Owners: @michelle259

fix:정적 경로생성 삭제
  frontend/app/review/detail/[id]/page.tsx
Owners: none

fix : mealType관련 로그 추가
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
Owners: @michelle259

fix: 리뷰id와 식당id 둘다 사용하도록 url이 아닌 쿼리파라미터 방식 적용
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/app/review/detail/[id]/page.tsx
  frontend/app/review/detail/page.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
  frontend/services/api.ts
  frontend/types/index.ts
Owners: none

fix: url 인코딩
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

fix : mealType 저장 로직 변경
  backend/recommend/src/main/java/com/mapzip/recommend/dto/SlotContext.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
Owners: @michelle259

fix:복합키생성_로 사용
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix: 로깅추가, 프론트수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix: 리뷰서버프론트,백엔드수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix:리뷰컨트롤러 중복제거
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
Owners: @csm123455

fix:리뷰서버 프론트 함수정의순서변경,상세보기로그추가
  frontend/app/review/detail/page.tsx
  frontend/components/modals/ReviewWriteModal.tsx
Owners: none

Revert "fix:리뷰서버 프론트 함수정의순서변경,상세보기로그추가"
  frontend/app/review/detail/page.tsx
  frontend/components/modals/ReviewWriteModal.tsx
Owners: none

Revert "fix:리뷰컨트롤러 중복제거"
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
Owners: @csm123455

Revert "fix: 리뷰서버프론트,백엔드수정"
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

Revert "fix: 로깅추가, 프론트수정"
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

Revert "fix:복합키생성_로 사용"
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: @csm123455

fix: 삭제버튼 클릭 시 restaurantId반환
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

fix: 미작성 리뷰 삭제 에러 해결
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

fix: reviewid 디코더 추가
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
Owners: @csm123455

Revert "fix: reviewid 디코더 추가"
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
Owners: @csm123455

fix: 특정리뷰조회 쿼리파라미터로 변경
  frontend/services/api.ts
Owners: none

fix: 특정리뷰 상세조회 reviewId 쿼리파라미터로 입력
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
Owners: @csm123455

fix: 리뷰상세조회 게이트웨이 라우팅설정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
Owners: @siiiirru

fix: 리뷰상세조회 라우팅 jwt 필터 수정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
Owners: @siiiirru
