Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

fix: 선택버튼 누를때 valkey에 선택상태 저장
  frontend/components/screens/ScheduleListScreen.tsx
Owners: none

fix : bedrock 호출 방식 변경
  backend/recommend/src/main/java/com/mapzip/recommend/config/BedrockConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendService.java
Owners: @michelle259

fix : bedrock 리전 변경
  config-repo/recommend.yml
Owners: none

fix: 스케줄 요약 데이터가 없으면 선택상태 삭제
  frontend/services/api.ts
Owners: none

fix: 스케줄 목록 스크롤 여유 조정
  frontend/components/screens/ScheduleListScreen.tsx
Owners: none

fix : 추천 조회 user id 제거
  backend/recommend/recommend_proto.pb
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/proto/recommend.proto
Owners: @michelle259

fix: Schedule 서비스 N+1 쿼리 성능 최적화
  config-repo/schedule.yml
Owners: none

fix: 스케줄 생성 시 유효성 검사
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
Owners: none

fix : 프론트 목 userId 제거
  backend/recommend/recommend_proto.pb
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/proto/recommend.proto
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
Owners: @michelle259

fix: 스케줄 선택 상태 정보 삭제
  frontend/services/api.ts
Owners: none

fix : 캐시 제거
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix : content type 추가
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix : 오류 수정
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix : proto 타입 변경
  backend/recommend/src/main/proto/recommend.proto
  frontend/components/screens/RecommendationScreen.tsx
Owners: @michelle259

fix : proto 빌드
  backend/recommend/recommend_proto.pb
Owners: @michelle259

fix : proto 빌드
  backend/recommend/recommend_proto.pb
  backend/recommend/src/main/proto/recommend.proto
  frontend/components/screens/RecommendationScreen.tsx
Owners: @michelle259

fix : 추천 식당 조회 오류3
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix : 추천 식당 조회 오류4
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix : 별점, 리뷰 없을시 비우기
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix : 스케줄 선택시 요약화면으로 넘어가도록 수정
  frontend/app/page.tsx
Owners: none

fix : useSchedule 수정
  frontend/components/screens/RecommendationScreen.tsx
  frontend/hooks/useSchedule.tsx
Owners: none

fix : 로컬 스토리지 저장 변경
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

dev pull
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
  frontend/package-lock.json
Owners: @michelle259

fix :initializeHomepage 변경
  frontend/hooks/useSchedule.tsx
Owners: none

fix : 로컬 스토리지에서 삭제 안되도록 수정
  frontend/hooks/useSchedule.tsx
Owners: none

fix: xss필터설정, ModelAttribute방식으로변경
  backend/gateway/src/main/java/mapzip/gateway/filter/XssProtectionFilter.java
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/dto/CreateReviewRequest.java
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  backend/review/src/test/java/com/mapzip/review/service/OcrServiceTest.java
Owners: @siiiirru, @csm123455

fix : 스케줄 요약 화면 db 다 넣기
  backend/recommend/recommend_proto.pb
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/ScheduleDetailQueryService.java
  backend/recommend/src/main/proto/recommend.proto
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: @michelle259

fix : 추천 서버에 요청 제거
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/hooks/useSchedule.tsx
Owners: none

fix : 키 통일
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : 시간 형식 통일
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : 시간 형식 통일
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : 이전 선택 식당도 보내도록 추가
  backend/recommend/recommend_proto.pb
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/proto/recommend.proto
Owners: @michelle259

fix : 이전 선택 식당도 보내도록 프론트 수정
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix:review 서비스 gRPC 호출 미작성리뷰 메서드 추가
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
Owners: @michelle259

fix : 병합 에러 수정
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
Owners: @michelle259

fix : 병합 에러 수정
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
Owners: @michelle259

fix: multipart formdata XSS 필터링 수정
  backend/gateway/src/main/java/mapzip/gateway/filter/XssProtectionFilter.java
  backend/gateway/src/test/java/mapzip/gateway/filter/XssProtectionFilterTest.java
Owners: @siiiirru

fix: map 오류 해결
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix: 식사소요시간 필수, 경유지 2개 제한 및 유효성 검사
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
Owners: none

fix:ReviewClientService.java 수정
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
Owners: @michelle259

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead
