Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

fix: Fix pom.xml newline to match dev branch
  backend/recommend/pom.xml
Owners: @michelle259

feat: Add minimal recommend service for Docker build
  backend/recommend/Dockerfile
  backend/recommend/src/main/java/com/mapzip/recommend/RecommendApplication.java
  backend/recommend/src/main/resources/application.yml
Owners: @michelle259

fix: Update Dockerfile to match GitHub Actions CI/CD workflow
  backend/recommend/Dockerfile
Owners: @michelle259

remove: Remove Dockerfile from recommend service
  backend/recommend/Dockerfile
Owners: @michelle259

feat: 인증 서버 기본 설정 및 사용자 인증 로직 구현
  .idea/.gitignore
  .idea/finalproject-app.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/auth/.gitkeep
  backend/auth/.idea/.gitignore
  backend/auth/.idea/auth.iml
  backend/auth/.idea/compiler.xml
  backend/auth/.idea/encodings.xml
  backend/auth/.idea/jarRepositories.xml
  backend/auth/.idea/misc.xml
  backend/auth/.idea/vcs.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/util/Jwks.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/entity/User.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/repository/UserRepository.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/CustomUserDetailsService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/UserPrincipal.java
  backend/auth/src/test/java/com/mapzip/auth/auth_service/AuthServiceApplicationTests.java
Owners: @1dyn

chore: .idea 폴더 삭제
  backend/auth/.idea/.gitignore
  backend/auth/.idea/auth.iml
  backend/auth/.idea/compiler.xml
  backend/auth/.idea/encodings.xml
  backend/auth/.idea/jarRepositories.xml
  backend/auth/.idea/misc.xml
  backend/auth/.idea/vcs.xml
Owners: @1dyn

chore: application.properties 제거
  .gitignore
Owners: none

chore: .idea 추적 제거
  .idea/.gitignore
  .idea/finalproject-app.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Owners: none

feat: auth서버 구축
  backend/auth/pom.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/CorsConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/RedisConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/util/Jwks.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/AuthCallbackController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/ErrorResponse.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/KakaoUserInfo.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/NicknameRequestDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/TokenResponseDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/filter/JwtAuthenticationFilter.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/handler/GlobalExceptionHandler.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/principal/UserPrincipal.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/CustomUserDetailsService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/RefreshTokenService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/UserService.java
  backend/auth/src/main/java/resources/application.yml
  backend/auth/src/main/main.iml
  backend/auth/src/main/resources/application.yaml
  backend/auth/src/test/test.iml
  config-repo/auth.yml
  frontend/app/login/callback/page.tsx
  frontend/app/login/page.tsx
Owners: @1dyn

feat: 인증서버 기본 기능 구현(카카오 OAuth2, JWT, 사용자 등록)
  backend/auth/pom.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/RedisConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/KakaoLoginRequestDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/NicknameRequestDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/RefreshTokenRequestDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/dto/TokenResponseDto.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/entity/AppUser.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/principal/UserPrincipal.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/repository/UserRepository.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/CustomUserDetailsService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/RefreshTokenService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/UserService.java
  backend/auth/src/main/resources/application.yml
Owners: @1dyn

feat: 인증서버 구축
  backend/auth/pom.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/AuthServiceApplication.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/CorsConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/AuthCallbackController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
  backend/auth/src/main/resources/application.yml
  config-repo/auth.yml
  frontend/app/auth/callback/page.tsx
  frontend/app/auth/login/page.tsx
Owners: @1dyn

feat: jwt 재발급 코드 수정
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
Owners: @1dyn

feat: .env파일 추가
  frontend/.env
  frontend/.gitignore
Owners: none

fix: review서버 라우팅 충돌 해결
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  frontend/lib/interceptor.ts
Owners: @siiiirru

fix: 리뷰서버 중복삭제, cname수정, 프론트엔드 필드명통일
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/review/src/main/java/com/mapzip/review/config/GrpcConfig.java
  backend/review/src/main/java/com/mapzip/review/dto/CreateReviewRequest.java
  backend/review/src/main/java/com/mapzip/review/grpc/GrpcHeaderInterceptor.java
  backend/review/src/main/java/com/mapzip/review/grpc/HeaderInterceptor.java
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
  frontend/types/index.ts
Owners: @siiiirru, @csm123455

fix: pb 파일 재배포
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix: proto파일 의존성 문제 해결
  backend/review/pom.xml
Owners: @csm123455

fix: 프론트엔드 요청인터셉터 삭제
  frontend/lib/interceptor.ts
Owners: none

fix: useSchedule 의존성 복원, 카카오 맵 로딩 에러
  config-repo/schedule.yml
  frontend/app/layout.tsx
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
Owners: none

feat: uri 통일, refresh 코드 수정
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/AuthCallbackController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
  frontend/app/auth/callback/page.tsx
Owners: @1dyn

fix: jwt 검증을 건너뛰는 경로 수정
  backend/gateway/src/main/java/mapzip/gateway/filter/JwtAuthenticationFilter.java
Owners: @siiiirru

fix: Graceful Shutdown 설정 추가
  config-repo/schedule.yml
Owners: none

fix: valkey 엔드포인트 수정
  config-repo/schedule.yml
Owners: none

fix:cicd 빌드 오류해결
  .gitignore
  backend/review/pom.xml
Owners: @csm123455

fix: 추천서버 gRPC 요청 임시 주석처리
  config-repo/schedule.yml
Owners: none

feat: 쿠키 path 변경, redis 저장 방식 수정
  backend/auth/src/main/java/com/mapzip/auth/auth_service/controller/UserController.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/KakaoOAuthService.java
  backend/auth/src/main/java/com/mapzip/auth/auth_service/service/RefreshTokenService.java
Owners: @1dyn

fix: 리뷰서버 검증,에러처리,테스트 수정
  backend/review/src/main/java/com/mapzip/review/config/GlobalExceptionHandler.java
  backend/review/src/main/java/com/mapzip/review/dto/ErrorResponse.java
  backend/review/src/main/java/com/mapzip/review/dto/VerifyReceiptRequest.java
  backend/review/src/main/java/com/mapzip/review/grpc/GrpcHeaderInterceptor.java
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  backend/review/src/test/java/com/mapzip/review/service/OcrServiceTest.java
Owners: @csm123455

feat: 헤더에 x-user-id 넣어쓰도록 수정
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

feat: 도착 여유 시간 반영, grpc health Check 의존성 추가
  backend/schedule/pom.xml
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/entity/Schedule.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/types/index.ts
Owners: @kaiju782

fix: Suspense 태그 추가
  frontend/app/auth/callback/page.tsx
Owners: none

feat: 사용자 요구사항 userNote 복원
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/entity/Schedule.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/types/index.ts
Owners: @kaiju782

fix: yq문법 오류 수정
  .github/workflows/pb-filter-ci-cd.yaml
Owners: none

fix: 재검증 주기 변수 삭제
  frontend/app/auth/callback/page.tsx
Owners: none

feat : tmap 연동 완료
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/cache/ScheduleDetailCache.java
  backend/recommend/src/main/java/com/mapzip/recommend/client/KakaoClient.java
  backend/recommend/src/main/java/com/mapzip/recommend/client/TmapClient.java
  backend/recommend/src/main/java/com/mapzip/recommend/config/GrpcClientConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/controller/RecommendController.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/SlotInfoDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/kakao/Document.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/tmap/MealSlotData.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/tmap/TmapLocation.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/tmap/TmapScheduleRequest.java
  backend/recommend/src/main/java/com/mapzip/recommend/entity/RecommendationSelectionEntity.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendResultConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapResultMapper.java
  backend/recommend/src/main/java/com/mapzip/recommend/mock/MockTmapScheduleRequestBuilder.java
  backend/recommend/src/main/java/com/mapzip/recommend/repository/RecommendationSelectionRepository.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/KakaoApiService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RouteService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/ScheduleGrpcService_reference.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/TmapCalculationProcessor.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/TmapRouteCalculator.java
  backend/recommend/src/main/proto/recommend.proto
  backend/recommend/src/main/proto/review.proto
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

fix: yq 문법 수정
  .github/workflows/pb-filter-ci-cd.yaml
Owners: none

fix: pb, front 환경변수수정
  .github/workflows/pb-filter-ci-cd.yaml
  frontend/next.config.mjs
  frontend/package.json
Owners: none

fix: yq 문법 수정
  .github/workflows/pb-filter-ci-cd.yaml
Owners: none

fix: dev기준 yq버전맞는문법으로수정
  .github/workflows/pb-filter-ci-cd.yaml
Owners: none

fix: yq 문법 수정
  .github/workflows/pb-filter-ci-cd.yaml
Owners: none

fix: pb파일(변경없음) 다시 빌드
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782
