Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

feat: tmap api 요청 valkey 메세지큐 비동기 처리
  backend/schedule/src/main/java/com/mapzip/schedule/ScheduleApplication.java
  backend/schedule/src/main/java/com/mapzip/schedule/client/KakaoClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/MealSlotData.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/kakao/Document.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/kakao/KakaoSearchResponse.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/kakao/Meta.java
  backend/schedule/src/main/java/com/mapzip/schedule/dto/kakao/SameName.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/KakaoApiGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/KakaoApiService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/TmapCalculationProcessor.java
  backend/schedule/src/main/proto/schedule.proto
  docker-compose.yml
Owners: @kaiju782

feat: Camelcase로 변경후 http-gRPC 로컬 테스트 완료
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/TmapCalculationProcessor.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/services/api.ts
  frontend/tsconfig.json
  frontend/types/index.ts
Owners: @kaiju782

feat: 스케줄 생성, 목록 조회 프론트 연결
  backend/schedule/src/main/java/com/mapzip/schedule/config/WebConfig.java
  docker-compose.yml
  envoy.yaml
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
Owners: @kaiju782

fix: 암호화 키값 변경된 내용으로 수정
  config-repo/gateway.yml
Owners: none

feat: Trigger Schedule service rebuild
  backend/schedule/src/main/java/com/mapzip/schedule/ScheduleApplication.java
Owners: @kaiju782

feat: gateway cors설정 및 라우팅 포트 변경
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  config-repo/application.yml
  config-repo/gateway.yml
  frontend/services/api.ts
  frontend/tsconfig.json
Owners: @siiiirru

fix: 사용자 리뷰 보안 강화
  backend/review/src/main/java/com/mapzip/review/grpc/HeaderInterceptor.java
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix: 액세스토큰 리프레시 요청은 jwt검증하지 않도록 수정
  backend/gateway/src/main/java/mapzip/gateway/filter/JwtAuthenticationFilter.java
Owners: @siiiirru

feat: Trigger Schedule service Docker image rebuild
  backend/schedule/src/main/java/com/mapzip/schedule/ScheduleApplication.java
Owners: @kaiju782

fix: cors 설정 방식 최신버전으로 변경, 프론트엔드 앱 문구 수정
  config-repo/gateway.yml
  frontend/app/layout.tsx
  frontend/public/manifest.json
Owners: none

feat: Add encrypt/decrypt endpoints to Config Server
  backend/config/src/main/resources/application.yml
Owners: @KingZuto

feat: Add comment to trigger Schedule service rebuild
  backend/schedule/src/main/java/com/mapzip/schedule/ScheduleApplication.java
Owners: @kaiju782

feat: 프론트 연동(삭제, 선택, 생성)
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
Owners: none

review
  backend/review/src/main/java/com/mapzip/review/ReviewServiceApplication.java
Owners: @csm123455

fix: Update Review service dependencies for compatibility
  backend/review/pom.xml
Owners: @csm123455

fix: Add explicit version for s3-presigner dependency
  backend/review/pom.xml
Owners: @csm123455

review
  backend/review/pom.xml
Owners: @csm123455

review
  backend/review/pom.xml
Owners: @csm123455

feat: 스케줄 선택 스케줄 요약에 반영
  frontend/app/schedule/edit/[id]/page.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/hooks/useSchedule.ts
  frontend/next.config.mjs
  frontend/services/api.ts
Owners: none

fix : 스케줄 서버와 gRPC 연동
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/client/KakaoClient.java
  backend/recommend/src/main/java/com/mapzip/recommend/config/RedisConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/controller/RecommendController.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/MultiSlotRecommendRequestDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/SlotInfoDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/kakao/Document.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/kakao/KakaoSearchResponse.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/kakao/Meta.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/kakao/SameName.java
  backend/recommend/src/main/java/com/mapzip/recommend/entity/RecommendResultEntity.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendGrpcClient.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendResultConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/RecommendRequestMapper.java
  backend/recommend/src/main/java/com/mapzip/recommend/repository/RecommendResultRepository.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/KakaoApiGrpcService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/KakaoApiService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendResultStoreService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendService.java
  backend/recommend/src/main/proto/recommend.proto
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

feat: 스케줄 수정 프론트 연동
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleCreateOptionalScreen.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/services/api.ts
Owners: none

fix : application 에러
  backend/recommend/src/main/java/com/mapzip/recommend/controller/RecommendController.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/RecommendRequestDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/RecommendResultDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendResultConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
Owners: @michelle259

fix : 추천서버용메서드추가, protoc 파일삭제.s3 클라우드 프론트 연둥구현, 각종키값변경
  backend/auth/mvnw
  backend/auth/mvnw.cmd
  backend/config/mvnw
  backend/config/mvnw.cmd
  backend/gateway/mvnw
  backend/gateway/mvnw.cmd
  backend/review/mvnw
  backend/review/mvnw.cmd
  backend/review/protoc/include/google/protobuf/any.proto
  backend/review/protoc/include/google/protobuf/api.proto
  backend/review/protoc/include/google/protobuf/compiler/plugin.proto
  backend/review/protoc/include/google/protobuf/descriptor.proto
  backend/review/protoc/include/google/protobuf/duration.proto
  backend/review/protoc/include/google/protobuf/empty.proto
  backend/review/protoc/include/google/protobuf/field_mask.proto
  backend/review/protoc/include/google/protobuf/source_context.proto
  backend/review/protoc/include/google/protobuf/struct.proto
  backend/review/protoc/include/google/protobuf/timestamp.proto
  backend/review/protoc/include/google/protobuf/type.proto
  backend/review/protoc/include/google/protobuf/wrappers.proto
  backend/review/protoc/readme.txt
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  backend/review/src/main/java/com/mapzip/review/service/S3Service.java
  backend/review/src/main/resources/application.yml
  backend/review/src/main/resources/bootstrap.yml
  backend/schedule/mvnw
  backend/schedule/mvnw.cmd
  config-repo/review.yml
Owners: @1dyn, @KingZuto, @siiiirru, @csm123455, @kaiju782

fix: 삭제했던 mvnw 파일들 추가
  backend/auth/mvnw
  backend/auth/mvnw.cmd
  backend/config/mvnw
  backend/config/mvnw.cmd
  backend/gateway/mvnw
  backend/gateway/mvnw.cmd
  backend/review/mvnw
  backend/review/mvnw.cmd
  backend/schedule/mvnw
  backend/schedule/mvnw.cmd
Owners: @1dyn, @KingZuto, @siiiirru, @csm123455, @kaiju782

fix: 리뷰서버api 에서 proto 파일 http 매핑경로 수정
  backend/review/src/main/proto/review.proto
Owners: @csm123455

feat: 경유지별 도착시간 계산
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/TmapCalculationProcessor.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
  frontend/types/index.ts
Owners: @kaiju782

fix: 경유지명 표시안되는 문제 해결
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/TmapCalculationProcessor.java
  frontend/hooks/useSchedule.ts
Owners: @kaiju782

fix: proto 파일 정리
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
Owners: @kaiju782

fix: config 서버 연동 준비
  backend/schedule/pom.xml
  backend/schedule/src/main/resources/application.yml
  config-repo/application.yml
  config-repo/schedule.yml
  frontend/app/layout.tsx
  frontend/next.config.mjs
Owners: @kaiju782

feat: config 서버 암호화 적용 및 eks 연동 준비
  backend/recommend/kakao_api_guide.md
  backend/schedule/Dockerfile
  backend/schedule/schedule_proto.pb
  config-repo/application.yml
  config-repo/schedule.yml
  docker-compose.yml
  envoy.yaml
  frontend/app/layout.tsx
  frontend/next.config.mjs
Owners: @michelle259, @kaiju782

chore : 프론트 테스트
  .github/workflows/frontend-ci-cd.yaml
Owners: none

chore : 프론트 테스트
  .github/workflows/frontend-ci-cd.yaml
Owners: none

fix : 문법 에러 수정
  frontend/next.config.mjs
Owners: none

fix: next.config.mjs 구문 오류
  frontend/next.config.mjs
Owners: none

fix: infra, redis관련 오류해결 ocr수정
  backend/config/src/main/resources/application.yml
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
  backend/review/src/main/java/com/mapzip/review/config/MetricsConfig.java
  backend/review/src/main/java/com/mapzip/review/config/RedisConfig.java
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/dto/CreateReviewRequest.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  backend/review/src/main/resources/application.yml
  config-repo/review.yml
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/services/api.ts
  frontend/types/index.ts
Owners: @KingZuto, @csm123455

fix: 맛집 선택 관련 타입 불일치
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix: window.kakao 명시
  frontend/types/kakao.d.ts
Owners: none

fix: hasMeal과 tags 속성 누락된거 추가
  frontend/components/screens/ScheduleCreateScreen.tsx
Owners: none

fix: hasMeal, tags 속성 제거
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/types/index.ts
Owners: none

fix: 도착시간 계산 실패 시 시간 미정
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none
