Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

fix: 수정 페이지 수정 4차
  frontend/services/api.ts
Owners: none

fix:카카오 로그인 구버전 코드 제거
  frontend/components/screens/LoginScreen.tsx
Owners: none

fix: 수정 페이지 수정 5차
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

fix: 수정 페이지 수정 6차 더버깅 코드
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  frontend/components/screens/ScheduleCreateScreen.tsx
Owners: @kaiju782

fix: 수정 페이지 수정 7차
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

fix:카카오 콜백 코드 수정
  frontend/app/auth/callback/page.tsx
Owners: none

test: 디버깅용 로그 추가
  frontend/app/auth/callback/page.tsx
Owners: none

fix: 스케줄 선택 스케줄 요약 팝업
  frontend/components/screens/ScheduleListScreen.tsx
Owners: none

fix: 카카오 로그인 콜백 원상복구
  frontend/app/auth/callback/page.tsx
Owners: none

test: 디버깅용 코드 추가
  frontend/app/auth/callback/page.tsx
Owners: none

fix: 스케줄 요약 팝업창 타임라인 식사 정보 제거
  frontend/lib/timeline.ts
Owners: none

fix: 리뷰개선
  backend/review/scripts/generate-proto-descriptor.sh
  backend/review/src/main/java/com/mapzip/review/config/GlobalExceptionHandler.java
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/grpc/GrpcHeaderInterceptor.java
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  backend/review/src/main/proto/review.proto
  config-repo/review.yml
  envoy.yaml
  frontend/services/api.ts
  frontend/types/index.ts
Owners: @csm123455

chore: kakao redirect uri 수정
  frontend/.env
  frontend/app/auth/login/page.tsx
Owners: none

chore: redirect uri 변경
  config-repo/auth.yml
Owners: none

feat: kakao 로그인 버튼 UI 변경
  frontend/app/auth/login/page.tsx
  frontend/public/kakao_login_large_wide.png
Owners: none

fix: 스케줄 수정 디버깅 코드 삭제
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix:콜백 요청이 성공했을 경우에만 세션스토리지 저장
  frontend/app/auth/callback/page.tsx
Owners: none

fix: 수정 시 로컬스토리지 저장x, 로컬스토리에 선택상태 정보 저장
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 식당 선택 db 삭제
  backend/schedule/src/main/java/com/mapzip/schedule/entity/MealTimeSlot.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/SelectedRestaurant.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/SelectedRestaurantRepository.java
Owners: @kaiju782

fix: 로그인 여부 체크 수정
  frontend/app/page.tsx
  frontend/hooks/useAuth.ts
  frontend/services/api.ts
Owners: none

chore: 테스트용 코드
  frontend/app/auth/callback/page.tsx
Owners: none

fix: 스케줄 선택 상태
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 최상단에서 세션스토리지 읽지 않도록 수정
  frontend/app/page.tsx
Owners: none

fix: 리뷰서버 프론트엔드 수정
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

feat: 카카오 로그인 버튼 변경 및 callback 코드 원복, URI 수정
  frontend/app/auth/callback/page.tsx
  frontend/app/auth/login/page.tsx
Owners: none

config-repo cicd용
  config-repo/review.yml
Owners: none

feat : 팝업부터 추천 선택까지 연결
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/lib/interceptor.ts
Owners: none

fix : application.yml 추가
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/config/CorsConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/mock/MockTmapScheduleRequestBuilder.java
  backend/recommend/src/main/resources/application.properties
  backend/recommend/src/main/resources/application.yml
Owners: @michelle259

feat: 백엔드 input 변수와 맞춤
  frontend/app/auth/callback/page.tsx
Owners: none

chore : test controller 추가
  backend/recommend/src/main/java/com/mapzip/recommend/controller/RecommendController.java
Owners: @michelle259

feat: 백엔드 cors 설정
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
Owners: @1dyn

fix: 헬스체크엔드포인트로깅추가
  backend/review/src/main/resources/application.yml
  frontend/package-lock.json
Owners: @csm123455

fix : config 의존성추가
  backend/recommend/pom.xml
Owners: @michelle259

fix : update
  config-repo/recommend.yml
Owners: none

fix: 리뷰서비스pod 복구설정
  config-repo/review.yml
Owners: none

fix: 리뷰서비스배포최적화
  backend/review/src/main/resources/application.yml
Owners: @csm123455

fix:repo 재배포
  config-repo/review.yml
Owners: none

fix : 누락됐던 팝업 polling 추가
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/lib/interceptor.ts
Owners: none

feat: 조회gRPC 스케줄 선택용, 수정용으로 분리, valkey 상태 확인 gRPC 추가.
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
Owners: @kaiju782

fix: 선택상태 디버깅 코드
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead
