Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

fix:multipart formdata XSS 필터링 원상복구
  backend/gateway/src/main/java/mapzip/gateway/filter/XssProtectionFilter.java
Owners: @siiiirru

fix: 리뷰서버 ,추천서버 연동수정
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
  backend/review/src/main/java/com/mapzip/review/grpc/GrpcHeaderInterceptor.java
Owners: @michelle259, @csm123455

fix: 로그들추가
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @michelle259, @csm123455

test: 디버깅을 위해 sql 로그 비노출
  config-repo/schedule.yml
Owners: none

feat : 추천 업데이트 수정
  backend/recommend/src/main/java/com/mapzip/recommend/cache/ScheduleDetailCache.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/tmap/TmapScheduleRequest.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/TmapCalculationProcessor.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/UpdateScheduleRequestBuilder.java
  backend/recommend/src/main/proto/recommend.proto
Owners: @michelle259

fix:DynamoDB 속성명으로 변경
  backend/review/src/main/java/com/mapzip/review/entity/PendingReviewEntity.java
Owners: @csm123455

fix:스케줄 수정 비관적락 설정
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

fix : 추천 업데이트 프론트 연동
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: 스케줄 비관적 락 오류 수정
  backend/schedule/src/main/java/com/mapzip/schedule/repository/ScheduleRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

fix:리뷰엔티티 타입변경
  backend/review/src/main/java/com/mapzip/review/entity/PendingReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
Owners: @csm123455

fix : 추천 업데이트 백엔드 에러 수정
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
Owners: @michelle259

fix : 추천 업데이트 버튼 프론트 에러 수정
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : 추천 업데이트 버튼 프론트 에러 수정
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : proto 빌드
  backend/recommend/recommend_proto.pb
Owners: @michelle259

fix : 프론트 전송 오류 수정
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : 스케줄 요약 정렬 오류 수정
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : polling 최신 버전인지 확인하도록 수정
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : polling 최신 버전인지 확인하도록 수정
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/proto/recommend.proto
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: @michelle259

fix : polling 최신 버전인지 확인하도록 수정
  backend/recommend/recommend_proto.pb
Owners: @michelle259

fix : 요청시 헤더 빼기
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

ocr 오류확인
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  config-repo/review.yml
Owners: @csm123455

cicd 용 주석추가
  config-repo/review.yml
Owners: none

fix: redis에서 JavaTimeModule 등록
  backend/review/pom.xml
Owners: @csm123455

fix: ocr 서비스키 관련 수정
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  config-repo/review.yml
Owners: @csm123455

fix : 스케줄 추천 시 runID 저장하도록
  backend/recommend/recommend_proto.pb
  backend/recommend/src/main/java/com/mapzip/recommend/dto/tmap/TmapScheduleRequest.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/mapper/TmapRequestMapper.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRedisStoreService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
  backend/recommend/src/main/proto/recommend.proto
Owners: @michelle259

cicd 용재배포
  config-repo/review.yml
Owners: none

fix : 요청시 runId 보내도록
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: 서비스계정키 재 암호화
  config-repo/review.yml
Owners: none

fix : 스케줄 선택시 runId 보내도록
  frontend/components/screens/ScheduleListScreen.tsx
Owners: none

fix : 스케줄 재선택에도 RunID 보내도록
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
Owners: @michelle259

복호화 재 설정
  config-repo/review.yml
Owners: none

fix:로그인 화면 useRouter로 이동
  frontend/app/page.tsx
  frontend/components/screens/LoginScreen.tsx
Owners: none

fix : 프론트에서 runID 통일
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix:Redis 직렬화 에러 해결
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  package-lock.json
Owners: @csm123455

fix: MSK 메시지 크기 제한을 5MB로 증가 및 애플리케이션 Kafka 설정 업데이트
  config-repo/recommend.yml
Owners: none

fix : 프론트에서 runID 통일
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : 프론트로 추천 업데이트 가도록 변경
  backend/recommend/recommend_proto.pb
  backend/recommend/src/main/java/com/mapzip/recommend/cache/ScheduleDetailCache.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/ScheduleDetailQueryService.java
  backend/recommend/src/main/proto/recommend.proto
Owners: @michelle259

fix : 프론트 추천 업데이트된 시간 뜨도록 수정
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: redis 직렬화 오류
  backend/review/src/main/java/com/mapzip/review/entity/PendingReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
Owners: @csm123455

fix: 카프카 설정 재PR
  config-repo/recommend.yml
Owners: none
