Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

feat: 참고용 파일과 가이드 업데이트
  backend/recommend/TMAP_GUIDE.md
  backend/recommend/src/main/java/com/mapzip/recommend/service/ScheduleGrpcService_reference.java
Owners: @michelle259

fix: 토스트를 alert로 대체
  frontend/app/page.tsx
  frontend/lib/interceptor.ts
Owners: none

chore: update auth.yml
  config-repo/auth.yml
Owners: none

fix: 디버깅용 에러메세지 출력'
  frontend/lib/interceptor.ts
Owners: none

feat: tmap api 코드 분리 빌드 에러 해결 및 가이드 보충
  backend/recommend/TMAP_GUIDE.md
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
Owners: @michelle259, @kaiju782

test:테스트용 함수 제거
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/lib/interceptor.ts
Owners: none

fix: limit actuator endpoints to health,info only
  config-repo/application.yml
Owners: none

fix: kakao map 키
  .github/workflows/frontend-ci-cd.yaml
  config-repo/application.yml
Owners: none

Update ScheduleSummaryScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

Update ScheduleGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782

fix: add Spring Security ignore for health endpoint in auth.yml
  config-repo/auth.yml
Owners: none

fix: argocd 내 파일명 정확하게 수정
  .github/workflows/pb-filter-ci-cd.yaml
Owners: none

fix: change to management.security.enabled=false for auth health check
  config-repo/auth.yml
Owners: none

fix: add SecurityConfig class for Spring Boot 3.x compatibility
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
  config-repo/auth.yml
Owners: @1dyn

check
  config-repo/auth.yml
Owners: none

fix: update SecurityConfig to allow all actuator endpoints
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
Owners: @1dyn

auth.yml
  config-repo/auth.yml
Owners: none

feat: 백엔드 x-user-id, 프론트 axios 적용
  backend/schedule/src/main/java/com/mapzip/schedule/config/GrpcInterceptorConfig.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  frontend/lib/interceptor.ts
  frontend/package.json
  frontend/services/api.ts
Owners: @kaiju782

fix: simplify SecurityConfig with modern Spring Security syntax
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
Owners: @1dyn

fix: x-user-id 잘못한거 취소
  frontend/lib/interceptor.ts
Owners: none

fix: Add Istio health check path to SecurityConfig
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
Owners: @1dyn

feat: x-user-id 헬스체크 스킵, 로컬스토리지로 스케줄 선택 및 요약 관리
  backend/schedule/src/main/java/com/mapzip/schedule/config/GrpcInterceptorConfig.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/MealTimeSlot.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/Schedule.java
  frontend/app/page.tsx
  frontend/components/screens/ScheduleListScreen.tsx
Owners: @kaiju782

temp: Allow all requests for debugging 403 issue
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
Owners: @1dyn

fix: Add missing Actuator and Prometheus dependencies to Auth service
  backend/auth/pom.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/config/SecurityConfig.java
Owners: @1dyn

feat: Actuator, Prometheus 연동, 스케줄 선택 DB 관리, recommendApi 의존
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/config/GrpcInterceptorConfig.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/Schedule.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/ScheduleRepository.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  frontend/app/page.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/services/api.ts
Owners: @kaiju782

feat: 스케줄 선택관리 수정
  frontend/app/page.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/services/api.ts
Owners: none

fix: 괄호 중복
  frontend/app/page.tsx
Owners: none

feat: 리뷰 서버 OCR 날짜 검증 및 미작성 리뷰 관리 시스템 구현
  backend/review/Dockerfile
  backend/review/pom.xml
  backend/review/review_proto.pb
  backend/review/src/main/java/com/mapzip/review/config/CacheConfig.java
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/PendingReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/OcrService.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  backend/review/src/main/proto/review.proto
  backend/review/src/main/resources/application.yml
  backend/schedule/src/main/java/com/mapzip/schedule/config/GrpcInterceptorConfig.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  config-repo/review.yml
  frontend/components/modals/ReviewWriteModal.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
  frontend/lib/interceptor.ts
  frontend/package.json
  frontend/services/api.ts
  frontend/types/index.ts
Owners: @csm123455, @kaiju782

fix : 리뷰서비스 OCR날짜 검증 및 S3/cloud Front 설정완료
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
  backend/review/src/main/proto/review.proto
  backend/review/src/main/resources/application.yml
  config-repo/review.yml
Owners: @csm123455

feat: valkey키로 선택상태관리, 프론트 상태 관리 단순화
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  frontend/app/page.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: @kaiju782

feat: is_selected, userNote 칼럼 제거
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/entity/Schedule.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/repository/ScheduleRepository.java
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

fix: 요청 인터셉터에서 x-user-id 헤더 자동 주입 제거
  backend/review/src/main/java/com/mapzip/review/config/MetricsConfig.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/repository/PendingReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/S3Service.java
  backend/review/src/main/resources/application.yml
  config-repo/review.yml
  frontend/lib/interceptor.ts
Owners: @csm123455

fix: yq문법오류 수정
  .github/workflows/pb-filter-ci-cd.yaml
Owners: none

fix: 카카오 맵 에러
  frontend/app/layout.tsx
Owners: none

fix: 파싱 에러
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix : 리뷰서버 인터셉터 충돌 해결 및 CI/CD 빌드 오류 수정
  backend/review/Dockerfile
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/grpc/HeaderInterceptor.java
  backend/review/src/main/resources/application.yml
  frontend/app/schedule/edit/page.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/lib/interceptor.ts
  frontend/services/api.ts
Owners: @csm123455

fix : 스케줄 선택 gRPC 추가
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/config/GrpcClientConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/ReviewStatsDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/KakaoApiService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
  backend/recommend/src/main/proto/recommend.proto
  backend/recommend/src/main/proto/review.proto
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

fix elasticache 엔드포인트 cname로수정
  config-repo/review.yml
Owners: none

fix: 컴파일 에러 및 ObjectMapper 추가
  backend/review/Dockerfile
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

recommend trigger
  backend/recommend/pom.xml
Owners: @michelle259

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead
