Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

Create README.md
  README.md
Owners: none

Delete README.md
  README.md
Owners: none

Delete directory
  .claude/settings.local.json
Owners: none

fix : 프론트 흐름 수정
  frontend/app/review/detail/[id]/page.tsx
  frontend/components/screens/RecommendationScreen.tsx
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
  frontend/components/screens/ScheduleSummaryScreen.tsx
  frontend/components/screens/VisitedRestaurantsScreen.tsx
  frontend/package-lock.json
Owners: none

fix: id-token 권한 추가
  .github/workflows/backend-ci-cd.yaml
Owners: none

ci: ci-cd 테스트용 코드 수정
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

feat: 스케줄 수정/삭제
  backend/schedule/src/main/java/com/mapzip/schedule/dto/TmapRoutesInfo.java
  backend/schedule/src/main/java/com/mapzip/schedule/entity/Schedule.java
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  create_schedule.json
  delete_schedule.json
  update_schedule.json
Owners: @kaiju782

fix: protobuf 관련 종속 삭제
  backend/gateway/pom.xml
Owners: @siiiirru

merge: dev 브랜치 반영
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

fix: cicd infra push 권한 설정 수정
  .github/workflows/backend-ci-cd.yaml
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

fix:
  .github/workflows/backend-ci-cd.yaml
Owners: none

fix:infra리포 경로 수정
  .github/workflows/backend-ci-cd.yaml
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

refactor: config 서비스를 통합 CI/CD에 맞게 구조 변경
  .github/workflows/config-server-cicd.yml
  backend/config/.gitattributes
  backend/config/.gitignore
  backend/config/.mvn/wrapper/maven-wrapper.properties
  backend/config/Dockerfile
  backend/config/README.md
  backend/config/config-server/build.gradle
  backend/config/config-server/gradle/wrapper/gradle-wrapper.jar
  backend/config/config-server/gradle/wrapper/gradle-wrapper.properties
  backend/config/config-server/gradlew
  backend/config/config-server/gradlew.bat
  backend/config/config-server/settings.gradle
  backend/config/k8s/configmap.yaml
  backend/config/k8s/deployment.yaml
  backend/config/k8s/service.yaml
  backend/config/mvnw
  backend/config/mvnw.cmd
  backend/config/pom.xml
  backend/config/scripts/build.sh
  backend/config/scripts/push-to-ecr.sh
  backend/config/src/main/java/com/mapzip/config/ConfigServerApplication.java
  backend/config/src/main/resources/application.yml
  backend/config/src/test/java/com/mapzip/config/ConfigServerApplicationTests.java
Owners: @KingZuto

refactor: config 서비스명을 config-server에서 config로 변경
  backend/config/k8s/configmap.yaml
  backend/config/k8s/deployment.yaml
  backend/config/k8s/service.yaml
  backend/config/src/main/resources/application.yml
Owners: @KingZuto

fix: 프론트 api 명세서 1차 반영
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

docs: README.md를 변경된 config 서비스 구조에 맞게 업데이트
  backend/config/README.md
Owners: @KingZuto

feat:prometheus 설정 추가
  backend/gateway/pom.xml
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

feat: metrics tag 환경 기본값을 dev로 수정
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

feat: Config Server Docker 최적화 및 개발용 파일 정리
  backend/config/.dockerignore
  backend/config/Dockerfile
  backend/config/k8s/configmap.yaml
  backend/config/k8s/deployment.yaml
  backend/config/k8s/service.yaml
  backend/config/scripts/build.sh
  backend/config/scripts/push-to-ecr.sh
Owners: @KingZuto

refactor: Git 설정을 Gradle에서 Maven 기반으로 변경
  backend/config/.gitattributes
  backend/config/.gitignore
Owners: @KingZuto

Move config-repo to root level and update Config Server settings
  backend/config/README.md
  backend/config/src/main/resources/application.yml
  config-repo/application.yml
  config-repo/auth/auth.yml
  config-repo/gateway/gateway.yml
  config-repo/recommend/recommend.yml
  config-repo/review/review.yml
  config-repo/schedule/schedule.yml
Owners: @KingZuto

feat: kakao map api 적용
  frontend/app/layout.tsx
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/services/api.ts
  frontend/types/index.ts
Owners: none

feat: ocr검증 로직강화, 인증처리개선, 데이터베이스최적화, 추천서버 연동 api 추가, 프론트엔드 api 연동, 설정파일 보안 강화, kubernetes 매니페스트 작성, docker 서비스명변경, argoCD application 파일review.yaml 완성
  backend/review/docker-compose.yml
  backend/review/pom.xml
  backend/review/src/main/java/com/mapzip/review/config/GrpcConfig.java
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  backend/review/src/main/java/com/mapzip/review/entity/ReviewEntity.java
  backend/review/src/main/java/com/mapzip/review/grpc/HeaderInterceptor.java
  backend/review/src/main/java/com/mapzip/review/grpc/ReviewGrpcService.java
  backend/review/src/main/java/com/mapzip/review/repository/ReviewRepository.java
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
  backend/review/src/main/proto/review.proto
  config-repo/review-dev.yml
  config-repo/review-prod.yml
  frontend/services/api.ts
Owners: @csm123455

Build check
  .github/workflows/backend-ci-cd.yaml
Owners: none

Build Check
  backend/config/src/main/resources/application.yml
Owners: @KingZuto

fix : bedrock 연동 확인
  backend/config/config-server/.gradle/8.14.3/checksums/checksums.lock
  backend/config/config-server/.gradle/8.14.3/checksums/md5-checksums.bin
  backend/config/config-server/.gradle/8.14.3/checksums/sha1-checksums.bin
  backend/config/config-server/.gradle/8.14.3/executionHistory/executionHistory.bin
  backend/config/config-server/.gradle/8.14.3/executionHistory/executionHistory.lock
  backend/config/config-server/.gradle/8.14.3/fileChanges/last-build.bin
  backend/config/config-server/.gradle/8.14.3/fileHashes/fileHashes.bin
  backend/config/config-server/.gradle/8.14.3/fileHashes/fileHashes.lock
  backend/config/config-server/.gradle/8.14.3/fileHashes/resourceHashesCache.bin
  backend/config/config-server/.gradle/8.14.3/gc.properties
  backend/config/config-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  backend/config/config-server/.gradle/buildOutputCleanup/cache.properties
  backend/config/config-server/.gradle/buildOutputCleanup/outputFiles.bin
  backend/config/config-server/.gradle/file-system.probe
  backend/config/config-server/.gradle/vcs-1/gc.properties
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
  backend/recommend/.gitattributes
  backend/recommend/.gitignore
  backend/recommend/.mvn/wrapper/maven-wrapper.properties
  backend/recommend/mvnw
  backend/recommend/mvnw.cmd
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/RecommendApplication.java
  backend/recommend/src/main/java/com/mapzip/recommend/config/BedrockConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/controller/BedrockTestController.java
  backend/recommend/src/main/resources/application.properties
  backend/recommend/src/test/java/com/example/demo/RecommendApplicationTests.java
  frontend/output.json
Owners: @KingZuto, @michelle259

fix : bedrock 연동 확인
  backend/config/config-server/.gradle/8.14.3/checksums/checksums.lock
  backend/config/config-server/.gradle/8.14.3/checksums/md5-checksums.bin
  backend/config/config-server/.gradle/8.14.3/checksums/sha1-checksums.bin
  backend/config/config-server/.gradle/8.14.3/executionHistory/executionHistory.bin
  backend/config/config-server/.gradle/8.14.3/executionHistory/executionHistory.lock
  backend/config/config-server/.gradle/8.14.3/fileChanges/last-build.bin
  backend/config/config-server/.gradle/8.14.3/fileHashes/fileHashes.bin
  backend/config/config-server/.gradle/8.14.3/fileHashes/fileHashes.lock
  backend/config/config-server/.gradle/8.14.3/fileHashes/resourceHashesCache.bin
  backend/config/config-server/.gradle/8.14.3/gc.properties
  backend/config/config-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  backend/config/config-server/.gradle/buildOutputCleanup/cache.properties
  backend/config/config-server/.gradle/buildOutputCleanup/outputFiles.bin
  backend/config/config-server/.gradle/file-system.probe
  backend/config/config-server/.gradle/vcs-1/gc.properties
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
  backend/recommend/.gitattributes
  backend/recommend/.gitignore
  backend/recommend/.mvn/wrapper/maven-wrapper.properties
  backend/recommend/mvnw
  backend/recommend/mvnw.cmd
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/RecommendApplication.java
  backend/recommend/src/main/java/com/mapzip/recommend/config/BedrockConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/controller/BedrockTestController.java
  backend/recommend/src/main/resources/application.properties
  backend/recommend/src/test/java/com/example/demo/RecommendApplicationTests.java
  frontend/output.json
Owners: @KingZuto, @michelle259

feat: kakao local api 사용 분리
  backend/schedule/src/main/java/com/mapzip/schedule/client/KakaoClient.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/KakaoApiService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

feat: kakao api gRPC로 요청되도록 분리
  backend/schedule/pom.xml
  backend/schedule/src/main/java/com/mapzip/schedule/service/KakaoApiGrpcService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/KakaoApiService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/RouteService.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
  kakaoSearch.json
Owners: @kaiju782

Create kakao_api_guide.md
  backend/recommend/kakao_api_guide.md
Owners: @michelle259

feat: gateway 서버 config를 config서버에서 받아오기
  backend/gateway/src/main/resources/application.yaml
  config-repo/gateway/gateway.yml
Owners: @siiiirru

fix: cloud.config.enabled 설정 삭제
  config-repo/gateway/gateway.yml
Owners: none

fix:config서버 주소 수정, 스케줄서비스 주소와 포트 수정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
  backend/gateway/src/main/resources/application.yaml
Owners: @siiiirru

feat: Integrate latest gateway config with Config Server enabled
  config-repo/gateway/gateway.yml
Owners: none

fix: Change Config Server default-label from main to dev
  backend/config/src/main/resources/application.yml
Owners: @KingZuto

fix: Move gateway.yml to correct location + trigger Config Server restart
  backend/config/src/main/resources/application.yml
  config-repo/gateway.yml
Owners: @KingZuto

move remain yml files & frontend build
  config-repo/auth.yml
  config-repo/gateway/gateway.yml
  config-repo/recommend.yml
  config-repo/review.yml
  config-repo/schedule.yml
  frontend/pnpm-lock.yaml
Owners: none

fix: jwt secret값 수정
  config-repo/gateway.yml
Owners: none

feat:테스트용 디버깅코드 추가
  backend/gateway/src/main/java/mapzip/gateway/filter/JwtAuthenticationFilter.java
  config-repo/gateway.yml
Owners: @siiiirru

fix:frontend ci/cd 수정
  .github/workflows/frontend-ci-cd.yaml
  frontend/tailwind.config.ts
Owners: none

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead
