Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

chore: remove build artifacts from repo
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
Owners: @KingZuto

fix : 모듈 추가
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
  backend/recommend/src/main/java/com/mapzip/recommend/config/BedrockConfig.java
  backend/recommend/src/main/resources/application.properties
Owners: @KingZuto, @michelle259

chore: remove build artifacts from repo
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
Owners: @KingZuto

fix : application.properties
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
Owners: @KingZuto

chore: remove build artifacts from repo
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
Owners: @KingZuto

fix : application.properties
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
  backend/recommend/src/main/resources/application.properties
Owners: @KingZuto, @michelle259

chore: remove build artifacts from repo
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
Owners: @KingZuto

🔐 Update encrypted API keys for recommend service
  config-repo/recommend.yml
Owners: none

🔧 Align recommend service Spring Boot version
  backend/recommend/pom.xml
Owners: @michelle259

test: cicd 테스트용 변경
  frontend/styles/globals.css
Owners: none

fix: Use platform-specific protoc classifier instead of hardcoded osx-aarch_64
  backend/recommend/pom.xml
Owners: @michelle259

fix : os에 맞게 의존성 처리
  .gitignore
  backend/recommend/pom.xml
Owners: @michelle259

feat: 추천업데이트 gps 정보
  frontend/components/screens/ScheduleSummaryScreen.tsx
Owners: none

fix: Remove duplicate spring key in recommend.yml
  config-repo/recommend.yml
Owners: none

fix: Move Kafka config from eureka to spring section
  config-repo/recommend.yml
Owners: none

fix: cors설정 변경
  config-repo/gateway.yml
Owners: none

fix : db url 하드코딩
  config-repo/recommend.yml
Owners: none

fix : config를 위한 의존성 추가
  backend/recommend/pom.xml
Owners: @michelle259

fix : db url 하드코딩
  config-repo/recommend.yml
Owners: none

fix : delete application.properties
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

fix : db url 하드코딩
  config-repo/recommend.yml
Owners: none

fix : db url 하드코딩
  config-repo/recommend.yml
Owners: none

fix : database 수정
  config-repo/recommend.yml
Owners: none

fix : grpc 추가
  config-repo/recommend.yml
Owners: none

fix : msk 브로커 앤드포인트 추가
  config-repo/recommend.yml
Owners: none

fix : 카프카 보안 인증 추가
  config-repo/recommend.yml
Owners: none

fix : 인증 의존성 추가
  backend/recommend/pom.xml
Owners: @michelle259

fix : 문법 에러
  config-repo/recommend.yml
Owners: none

fix : 카프카 포트 수정
  config-repo/recommend.yml
Owners: none

fix: 카카오로그인 콜백경로 수정
  config-repo/auth.yml
  frontend/.env
  frontend/app/auth/callback/page.tsx
  frontend/package-lock.json
Owners: none

fix : 문법 에러 수정
  config-repo/recommend.yml
Owners: none

fix : 문법 에러 수정
  config-repo/recommend.yml
Owners: none

fix: 수정페이지에 기존 스케줄정보 못불러오는 에러
  frontend/services/api.ts
Owners: none

fix : 포트 수정
  config-repo/recommend.yml
Owners: none

fix : 카프카 인증 방식 변경
  config-repo/recommend.yml
Owners: none

fix: 수정페이지에 기존 스케줄정보 못불러오는 에러 2차
  frontend/components/screens/ScheduleCreateScreen.tsx
Owners: none

fix: Add missing Actuator and Prometheus dependencies
  backend/recommend/pom.xml
Owners: @michelle259

fix: 수정 페이지 수정 3차
  frontend/components/screens/ScheduleCreateScreen.tsx
Owners: none

fix : 머지 에러 확인
  frontend/components/screens/RecommendationScreen.tsx
  frontend/lib/interceptor.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/types/index.ts
Owners: none

fix : 머지 에러 확인
  backend/recommend/src/main/resources/application.properties
  backend/recommend/src/main/resources/application.yml
Owners: @michelle259
