Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

fix: 선택 상태 수정 1차
  frontend/app/page.tsx
  frontend/components/screens/ScheduleListScreen.tsx
Owners: none

fix: 선택상태 수정 17차
  frontend/hooks/useSchedule.ts
Owners: none

fix: useSchedule에서 로컬스토리지 관리하도록 수정
  frontend/components/screens/RecommendationScreen.tsx
Owners: none

fix : 목데이터 제거
  backend/recommend/src/main/java/com/mapzip/recommend/config/GrpcClientConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/config/GrpcHeaderConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/controller/RecommendController.java
  backend/recommend/src/main/java/com/mapzip/recommend/grpc/RecommendServiceImpl.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/ReviewClientService.java
  backend/recommend/src/main/proto/review.proto
  backend/recommend/src/main/proto/schedule.proto
Owners: @michelle259

fix: 로컬스토리지 저장 양식
  frontend/hooks/useSchedule.ts
Owners: none

chore : 테스트
  config-repo/recommend.yml
Owners: none

fix : msk 앤드포인트 변경
  config-repo/recommend.yml
Owners: none

fix : msk 수정
  config-repo/recommend.yml
Owners: none

test: 프론트엔드 도메인 적용 테스트용 변경
  frontend/styles/globals.css
Owners: none

feat : topic 생성 config
  backend/recommend/src/main/java/com/mapzip/recommend/config/KafkaTopicConfig
Owners: @michelle259

fix : msk 수정
  config-repo/recommend.yml
Owners: none

test: cicd 적용 변경
  frontend/styles/globals.css
Owners: none

fix : 카프카 설정 추가
  config-repo/recommend.yml
Owners: none

fix : 그룹 id 변경
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
Owners: @michelle259

fix : 그룹 id 변경
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendResultConsumer.java
Owners: @michelle259

fix : 로그 레벨 디버그로 변경
  config-repo/recommend.yml
Owners: none

fix : 문법 에러 수정
  config-repo/recommend.yml
Owners: none

feat: 스케줄 선택상태 해제
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
Owners: @kaiju782

fix: 타임아웃 제거
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.ts
Owners: none

fix: 타임아웃 설정
  frontend/hooks/useSchedule.ts
Owners: none

fix: 무한로딩
  frontend/hooks/useSchedule.ts
Owners: none

fix: 무한로딩 수정
  frontend/app/page.tsx
Owners: none

fix: 페이지 이동
  frontend/app/page.tsx
Owners: none

fix : gRPC 통신할 때 userid 보내기
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/config/KafkaTopicConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendResultConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
  backend/recommend/src/main/resources/application.yml
Owners: @michelle259

fix: 타임아웃 설정 변경
  frontend/hooks/useSchedule.ts
  frontend/services/api.ts
Owners: none

fix : 로깅 제거
  config-repo/recommend.yml
Owners: none

fix: 프로메테우스 요청 경로 설정 추가
  config-repo/auth.yml
  config-repo/recommend.yml
  config-repo/schedule.yml
Owners: none

fix: 무한로딩 2차
  frontend/hooks/useSchedule.ts
Owners: none

fix: 무한 로딩 3차
  frontend/hooks/useSchedule.ts
Owners: none

fix : msk 토픽별 groupid 분리
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendResultConsumer.java
Owners: @michelle259

fix: 무한로딩 3차
  frontend/app/layout.tsx
  frontend/hooks/useSchedule.tsx
Owners: none

fix : 스케줄 서버 gRPC 수정
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
Owners: @michelle259

fix: 추천서버 선택 버튼 연결
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/hooks/useSchedule.tsx
  frontend/services/api.ts
Owners: none

fix : 헤더 로그 추가
  backend/recommend/src/main/java/com/mapzip/recommend/config/GrpcHeaderConfig.java
  backend/recommend/src/main/resources/application.properties
  backend/recommend/src/main/resources/application.yml
Owners: @michelle259

fix: 추천서버 요청 디버깅 코드
  frontend/hooks/useSchedule.tsx
Owners: none

fix : 설정
  backend/recommend/src/main/resources/application.yml
Owners: @michelle259

delete
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

fix:서버별 프로메테우스 설정 수정
  config-repo/auth.yml
  config-repo/recommend.yml
  config-repo/schedule.yml
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

fix: 선택 상태에 스케줄id 넣어서 추천서버에서 스케줄요약 가져오도록 수정
  backend/schedule/schedule_proto.pb
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/hooks/useSchedule.tsx
  frontend/services/api.ts
Owners: @kaiju782

fix: valkey 저장
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
Owners: @kaiju782
