Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead

fix: Add config-repo detection to GitHub Actions
  .github/workflows/backend-ci-cd.yaml
Owners: none

feat: 프론트 수정 및 envoy 설정 저장
  docker-compose.yml
  envoy.yaml
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/next.config.mjs
  frontend/services/api.ts
Owners: none

feat: dockerfile
  backend/schedule/Dockerfile
Owners: @kaiju782

feat: Build specific services when their config files change
  .github/workflows/backend-ci-cd.yaml
Owners: none

fix: Build all services when application.yml changes
  .github/workflows/backend-ci-cd.yaml
Owners: none

fix : review 서버관련 변수, 오류수정 프로메테우스, argocd설정
  backend/review/pom.xml
  backend/review/src/main/resources/application.yml
  config-repo/review.yml
  config-repo/review/review-dev.yml
  config-repo/review/review-prod.yml
  config-repo/review/review.yml
Owners: @csm123455

Update auth.yml
  config-repo/auth.yml
Owners: none

feat: Add separate config-ci-cd workflow for service restarts
  .github/workflows/backend-ci-cd.yaml
  .github/workflows/config-ci-cd.yaml
Owners: none

feat: auth.yml 추가
  config-repo/auth.yml
Owners: none

feat: http -> gRPC 요청 성공
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
Owners: @kaiju782

fix: proto 정리
  backend/schedule/src/main/java/com/mapzip/schedule/mapper/ScheduleMapper.java
  backend/schedule/src/main/java/com/mapzip/schedule/service/ScheduleGrpcService.java
  backend/schedule/src/main/proto/schedule.proto
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
Owners: @kaiju782

Create application.yml
  backend/auth/src/main/java/resources/application.yml
Owners: @1dyn

fix: frontend cicd 수정
  .github/workflows/frontend-ci-cd.yaml
  backend/config/src/main/resources/application.yml
  backend/gateway/src/main/resources/application.yaml
  frontend/tailwind.config.ts
Owners: @KingZuto, @siiiirru

fix: 디버깅용 코드 추가
  .github/workflows/frontend-ci-cd.yaml
Owners: none

fix: cicd 테스트용 변경
  frontend/app/globals.css
Owners: none

fix: CI/CD 아티팩트 업로드 경로 수정
  .github/workflows/frontend-ci-cd.yaml
Owners: none

test: cicd 테스트용 변경
  frontend/app/globals.css
Owners: none

feat: Add auth service application.yaml for Config Server integration
  backend/auth/src/main/resources/application.yaml
Owners: @1dyn

fix: 아티팩트 업로드 경로 수정
  .github/workflows/frontend-ci-cd.yaml
Owners: none

test: CICD 테스트용 변경
  frontend/styles/globals.css
Owners: none

fix: 아티팩트 업로드 숨김파일 설정 변경
  .github/workflows/frontend-ci-cd.yaml
Owners: none

test: cicd 테스트용 변경
  frontend/styles/globals.css
Owners: none

fix: Update config CI/CD workflow for proper namespace handling
  .github/workflows/config-ci-cd.yaml
Owners: none

fix:scrip, review pom 수정
  backend/review/pom.xml
  backend/review/scripts/generate-proto-descriptor.sh
  config-repo/review/review-dev.yml
  config-repo/review/review.yml
Owners: @csm123455

feat: Auth 서비스 최소 구조 추가 (Config Server 연결 테스트용)
  backend/auth/.gitattributes
  backend/auth/.mvn/wrapper/maven-wrapper.properties
  backend/auth/mvnw
  backend/auth/mvnw.cmd
  backend/auth/pom.xml
  backend/auth/src/main/java/com/mapzip/auth/auth_service/AuthServiceApplication.java
Owners: @1dyn

feat: Auth 서비스 Dockerfile 추가 (테스트용)
  backend/auth/Dockerfile
Owners: @1dyn

feat: config-repo 값 수정 및 테스트용 json삭제
  README.md
  backend/schedule/pom.xml
  config-repo/schedule.yml
  create_schedule.json
  delete_schedule.json
  kakaoSearch.json
  update_schedule.json
Owners: @kaiju782

feat : 카프카랑 bedrock 연동
  backend/recommend/pom.xml
  backend/recommend/src/main/java/RecommendationResponseConsumer/RecommendationResponseConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/controller/RecommendController.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/RecommendRequestDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/dto/RecommendResultDto.java
  backend/recommend/src/main/java/com/mapzip/recommend/kafka/RecommendRequestConsumer.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendRequestService.java
  backend/recommend/src/main/java/com/mapzip/recommend/service/RecommendService.java
  backend/recommend/src/main/resources/application.properties
Owners: @michelle259

fix : s3 업로드 가능 형태로 변경
  frontend/.gitignore
  frontend/README.md
  frontend/app/page.tsx
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/app/review/detail/[id]/page.tsx
  frontend/app/schedule/edit/[id]/ScheduleEditClientPage.tsx
  frontend/app/schedule/edit/[id]/page.tsx
  frontend/components/common/BottomNavigation.tsx
  frontend/components/screens/HomeScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/next.config.mjs
  frontend/output.json
  frontend/package-lock.json
  frontend/package.json
Owners: none

chore : 필요한 프론트만 업로드
  backend/recommend/.gitattributes
  backend/recommend/.gitignore
  backend/recommend/.mvn/wrapper/maven-wrapper.properties
  backend/recommend/mvnw
  backend/recommend/mvnw.cmd
  backend/recommend/pom.xml
  backend/recommend/src/main/java/com/mapzip/recommend/RecommendApplication.java
  backend/recommend/src/main/java/com/mapzip/recommend/config/BedrockConfig.java
  backend/recommend/src/main/java/com/mapzip/recommend/controller/BedrockTestController.java
  backend/recommend/src/main/resources/application.properties
  backend/recommend/src/test/java/com/example/demo/RecommendApplicationTests.java
Owners: @michelle259

trigger: GitHub Actions 트리거용 변경
  backend/auth/src/main/java/com/mapzip/auth/auth_service/AuthServiceApplication.java
Owners: @1dyn

chore : 필요한 프론트만 업로드2
  backend/config/config-server/build/reports/tests/test/classes/com.mapzip.config.ConfigServerApplicationTests.html
  backend/config/config-server/build/reports/tests/test/css/base-style.css
  backend/config/config-server/build/reports/tests/test/css/style.css
  backend/config/config-server/build/reports/tests/test/index.html
  backend/config/config-server/build/reports/tests/test/js/report.js
  backend/config/config-server/build/reports/tests/test/packages/com.mapzip.config.html
  backend/config/config-server/build/resolvedMainClassName
  backend/config/config-server/build/resources/main/application.yml
  backend/config/config-server/build/test-results/test/TEST-com.mapzip.config.ConfigServerApplicationTests.xml
  backend/config/config-server/build/test-results/test/binary/output.bin
  backend/config/config-server/build/test-results/test/binary/output.bin.idx
  backend/config/config-server/build/test-results/test/binary/results.bin
Owners: @KingZuto

fix : s3 업로드 가능 형태로 프론트 수정
  frontend/.gitignore
  frontend/README.md
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/review/detail/[id]/ReviewDetailPageClient.tsx
  frontend/app/review/detail/[id]/page.tsx
  frontend/app/schedule/edit/[id]/ScheduleEditClientPage.tsx
  frontend/app/schedule/edit/[id]/page.tsx
  frontend/components/common/BottomNavigation.tsx
  frontend/components/screens/HomeScreen.tsx
  frontend/components/screens/ScheduleCreateLocationScreen.tsx
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
  frontend/components/screens/ScheduleCreateScreen.tsx
  frontend/components/screens/ScheduleListScreen.tsx
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/services/api.ts
  frontend/types/index.ts
Owners: none

fix: Auth 서비스 Config Server URL 수정
  backend/auth/src/main/resources/application.yaml
Owners: @1dyn

fix : out/ 생성 후 s3에 업로드되도록 수정
  .github/workflows/frontend-ci-cd.yaml
Owners: none

fix: review.yml 파일 변경
  config-repo/review-dev.yml
  config-repo/review-prod.yml
  config-repo/review.yml
Owners: none

fix: envoy주석처리, config서버 연결 적용
  backend/config/.gitignore
  backend/schedule/.gitignore
  backend/schedule/src/main/proto/schedule.proto
  backend/schedule/src/main/resources/application.properties
  backend/schedule/src/main/resources/bootstrap.properties
  envoy.yaml
Owners: @KingZuto, @kaiju782

fix: config-repo 파일 변경
  backend/review/.mvn/wrapper/maven-wrapper.properties
  backend/review/docker-compose.yml
  backend/review/mvnw
  backend/review/mvnw.cmd
  backend/review/pom.xml
  backend/review/scripts/generate-proto-descriptor.sh
  backend/review/scripts/setup-local-db.sh
Owners: @csm123455

fix : 캐시 의존성 위치 변경
  .github/workflows/frontend-ci-cd.yaml
Owners: none

fix : package-lock.json 생성
  frontend/package-lock.json
Owners: none
