Repository CLD3rd-Team4/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1dyn, @KingZuto, @siiiirru, @michelle259, @csm123455, @kaiju782

fix:리뷰상세조회 8080포트로수정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
Owners: @siiiirru

fix:게이트웨이 리뷰 상세조회 http 접두사추가
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
Owners: @siiiirru

fix: 상세리뷰 수정 삭제 http 접두사추가
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
Owners: @csm123455

fix:리뷰 상세조회 http 수정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
Owners: @siiiirru

fix: 리뷰상세조회 게이트웨이 라우팅설정
  backend/gateway/src/main/java/mapzip/gateway/config/CustomRouteLocator.java
Owners: @siiiirru

fix : 작성리뷰 요청경로 수정
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
  frontend/services/api.ts
Owners: @csm123455

fix: URL 디코딩처리 추가
  backend/review/src/main/java/com/mapzip/review/controller/ReviewController.java
Owners: @csm123455

fix: SpEL 표현식 수정
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix:SpEL 에러를 수정
  backend/review/src/main/java/com/mapzip/review/service/ReviewService.java
Owners: @csm123455

fix: 작성된 리뷰 프론트수정
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

fix: 리뷰작성창 프론트수정
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

fix:리뷰 상세보기 이미지프론트수정
  frontend/app/review/detail/page.tsx
Owners: none

fix: 리뷰 목록 스크롤 조정
  frontend/components/screens/VisitedRestaurantsScreen.tsx
Owners: none

fix: 스케줄 필수 입력 스크롤 조정
  frontend/components/screens/ScheduleCreateRequiredScreen.tsx
Owners: none

fix : 현재 위치 중복 제거
  frontend/components/modals/ScheduleProcessingPopup.tsx
Owners: none

chore: README.md 추가
  README.md
Owners: none

.github/CODEOWNERS:

# 팀원 이름
# 박시윤 @siiiirru
# 한동연 @1dyn
# 양정모 @kaiju782
# 서예은 @michelle259
# 조성민 @csm123455
# 조성욱 @KingZuto

# 특정 디렉토리 오너
/backend/auth/ @1dyn
/backend/config/ @KingZuto
/backend/gateway/ @siiiirru
/backend/recommend/ @michelle259
/backend/review/ @csm123455
/backend/schedule/ @kaiju782



# 특정 파일 오너
# /.github/workflows/deploy.yml @devops-lead
